[2018-03-24 08:57] jonathanolson opened #1 "Desired animations"
I'm curious about a lot of the animations in the "Lab" screens (most notably for the shapes). Many of them seem really helpful, but others might not, so I'm curious to know whether each should be included. So far unimplemented yet:

1. Dragged circle slices rotate into position for the nearest "droppable" spot once picked up. This is implemented in Fractions: Intro, and I think it's very valuable

[2018-03-24 09:00] jonathanolson commented on #1
https://www.colorado.edu/physics/phet/dev/html/fractions-mixed-numbers/1.0.0-dev.3/phet/fractions-mixed-numbers_en_phet.html?screens=3 is the current progress on the lab (shapes, basically no animations yet). Hopefully helps compare with/without.

[2018-03-24 18:54] ariel-phet commented on #1
1. Dragged circle slices rotate into position for the nearest "droppable" spot once picked up. This is implemented in Fractions: Intro, and I think it's very valuable (would like to keep it for sure).
2. Pulling circle/bar pieces from the toolbox has a "sizing up" animation (since the toolbox versions are smaller than the play-area versions). We've moved lately towards an "instantly bigger and dra

[2018-05-18 06:15] jonathanolson opened #2 "Lab screen crashing on Chrome"
Chrome 66 macOS 10.13.4, Fractions Intro. Try to open the 3rd screen from the homescreen. Instant crash for me.

@lmulhall-phet, are you able to reproduce?

Chrome was crash earlier depending on the exact shape of a path, so I may need to experiment with workarounds...

[2018-05-18 18:52] phet-steele commented on #2
@jonathanolson, as I said in so much expert detail with all the information you would ever need: https://github.com/phetsims/scenery/issues/750#issuecomment-376268020 😄. Same goes for this issue.

[2018-05-18 18:58] lmulhall-phet commented on #2
@jonathanolson What version?

[2018-05-18 18:58] phet-steele commented on #2
@lmulhall-phet master.

[2018-05-18 19:04] lmulhall-phet commented on #2
@jonathanolson I am not able to reproduce.

[2018-05-29 19:07] pixelzoom opened #3 "replace SlidingScreen with TransitionNode"
This is the sole remaining use of SlidingScreen.  Delete it after replacing.

[2018-05-31 16:15] lmulhall-phet commented on #2
@jonathanolson, do we need to do anything else with this?

[2018-05-31 16:56] jonathanolson commented on #2
I'll track it down.

Also... it doesn't seem to crash if I have devtools open... interesting.

[2018-07-26 06:03] jonathanolson commented on #2
Can't reproduce now, closing.

[2018-08-08 00:27] jonathanolson commented on #3
Done. Also added return values of {Transition} to the transition functions so that it's possible to listen to when the transitions are finished (I'm disposing the challenge node once its done transitioning away).

[2018-08-08 00:27] #3 closed

[2018-08-21 16:17] #2 closed

[2018-09-25 16:05] KatieWoe opened #4 "CT: Shape.segments is not a function"
Showing up on fractions-equality, fractions-intro, and fractions-mixed-numbers.
[code]

[2018-09-25 18:32] jonathanolson commented on #4
Doh, I forgot to commit the code change the sim was depending on. Should be above (and resolved by the next CT snapshot). Sorry!

[2018-10-18 09:07] jonathanolson opened #5 "Sequential fill order for game shapes"
I tuned the rotations and fill order of the game shapes (when sequentially filled) so that it matches the general decisions for the rest of the sim:

![fill-order](https://user-images.githubusercontent.com/480878/47142917-3fee5c00-d281-11e8-8d1a-c2f1eafd5e67.png)

They start filling on the "red" and end at the "cyan" (indicating the order). Let me know if any need to be tweaked (notably the order,

[2018-10-18 09:11] jonathanolson commented on #5
Also if relevant, the code exists to generate the "flowers" with different sizes, e.g.:

![fill-order-5](https://user-images.githubusercontent.com/480878/47143918-7fb64300-d283-11e8-96cd-0bdca2fde0b5.png)

if those would work better than any existing shapes.

[2018-10-23 02:06] jonathanolson opened #6 "Show answers?"
Should the ability to "show answers" be added in for game screens? It's tricky, since there can be multiple answers, AND small fractions in an answer would be hard to differentiate (is that a 1/9 or 1/8?)

[2018-10-24 02:45] jonathanolson commented on #6
Actually I kind of like the area-model version of this, which gives a button that when clicked will fill in a working answer. Unless there are objections, I'll plan to add that functionality.

[2018-10-25 15:02] ariel-phet commented on #5
@jonathanolson @amanda-phet I think the fill order looks good.

As for the other questions, my main litmus test would be if the shape is reasonable to count for the given denominator. For instance, the single row or column square gets hard to count with large denominators, but the grid shape works well for large denominators.

[2018-10-25 16:44] amanda-phet commented on #5
The only one that looks slightly odd to me is the triangle, but I just confirmed that it matches the behavior in the java sim so I think this all looks good!

I will have to review the design doc, but I think this means game and main shapes.

I'm not sure I follow this question, but it seems any applicable shapes could be used?

Are we talking about the levels like this?
![image](https://user-imag

[2018-10-25 23:10] jonathanolson commented on #5
I'm mainly discussing the collection-box targets for "number" levels, e.g.:

<img width="972" alt="screen shot 2018-10-25 at 5 09 41 pm" src="https://user-images.githubusercontent.com/480878/47535425-d077fe00-d878-11e8-9e49-e6389e76c929.png">

Maybe this would benefit from a brief call sometime to discuss?

[2018-11-28 22:10] jonathanolson commented on #6
Implemented.

[2018-11-28 22:10] #6 closed

[2018-11-29 00:33] jonathanolson commented on #1
All of these were basically implemented. If we decide that (5) is needed, it will probably come up during testing/interviews/etc. Closing.

[2018-11-29 00:33] #1 closed

[2018-11-29 01:19] jonathanolson opened #7 "Handling of level completion"
I'm interested into how to handle background interaction when the user has completed all levels, e.g.:

![fractions-finished](https://user-images.githubusercontent.com/480878/49192664-3b659a80-f339-11e8-9def-40e85c851d8e.PNG)

The back/refresh buttons seem like it should clear the "complete" and "reward" parts (I'll handle this). (Ignore the "cheat / show answers" button below those, it takes a lo

[2018-11-29 01:26] jonathanolson opened #8 "Limits on challenge generation"
Currently challenges can be generated that are cumbersome and cause layout issues:

![image](https://user-images.githubusercontent.com/480878/49192983-ae234580-f33a-11e8-9e68-3a8a1459779f.png)
![image](https://user-images.githubusercontent.com/480878/49192990-b1b6cc80-f33a-11e8-8c29-d7841119593e.png)

It looks like limiting things to 20 shape pieces per stack should avoid layout issues, but presum

[2018-11-29 01:29] jonathanolson opened #9 "TransitionNode interruption not working"
Results in an incorrect animation happening when rapidly switching back-and-forth between the two level selection screens.

![transition-node-issue](https://user-images.githubusercontent.com/480878/49193213-93050580-f33b-11e8-963f-089196b89bf4.PNG)

Reproduction: launch with ?speed=0.1 (makes things easier), press the right button and then immediately the left button.

[2018-11-29 01:30] jonathanolson opened #10 "Cake images potentially changing"
Being handled in https://github.com/phetsims/tasks/issues/955, issue created here so I'm aware of the pending changes at a glance.

[2018-11-29 01:32] jonathanolson opened #11 "Incorrect offsets on number piece animation back to panel on game"
It seems to animate to an incorrect offset on the stack in the panel.

[2018-11-29 01:32] jonathanolson opened #12 "Refresh button should clear "all levels complete" and "reward""

[2018-11-29 01:35] jonathanolson opened #13 "Remove the asymmetric grid representations in game"
Instead for things like level 10 numbers (mixed), switch to either lower maximum denominators and/or pick representation first (since the pie can handle larger denominators).

[2018-11-29 01:37] jonathanolson opened #14 "Issues with highlights on collection areas"
Dragging a non-matching (e.g. empty) group over them and releasing, and resetting can result in buggy behavior.

[2018-11-29 01:54] jonathanolson opened #15 "Memory vs performance behavior"
Switching between game levels currently seems to lag a bit, even on "faster" platforms, since currently the sim needs to create a new view for the "new" challenge.

@ariel-phet can you see if this is enough of a performance issue (both on desktop and iOS) in your opinion?

For devices not limited by memory, I could create views for all of the levels. This would make startup/reset-all slightly slow

[2018-11-29 07:32] jonathanolson opened #16 "Should "dragged" cake pieces be "over" cakes?"
Currently when you drag a cake piece, it is always over all of the cakes:

![cake-drag-layering](https://user-images.githubusercontent.com/480878/49205932-adf06d80-f36d-11e8-865a-ae9bbca6300c.PNG)

This  makes sense to me, but looks weird. I'd like to do what is done for the shape types here and add a shadow behind dragged pieces, e.g.:

![fraction-shadow](https://user-images.githubusercontent.com

[2018-11-29 07:37] jonathanolson opened #17 "Equality lab arrow/highlight behavior"
In the Java version there is an arrow and highlight on the right-side number line:

![fractions-equality-arrow](https://user-images.githubusercontent.com/480878/49206233-a41b3a00-f36e-11e8-8daf-70ac8be4960b.PNG)

The arrow seems to jump to the left for major ticks, and the highlight widens. I'm not sure I understand the height of the highlight, as it doesn't seem to cover any specific portion.

Sh

[2018-11-29 07:38] jonathanolson opened #18 "Basic multitouch prevention for number line"
It won't behave well if dragging it AND using buttons that adjust its position.

[2018-12-04 01:57] ariel-phet commented on #17
@jonathanolson currently the behavior of the number line in the Equality Lab (in Java) matches the behavior of the number line representation in the Intro.

On the Intro tab, the highlighting makes sense, since you are always highlighting a particular tick mark on the number line.

However, for the Equality lab, I think it would be fine to remove the highlight (especially since we have the arrow).

[2018-12-04 02:02] ariel-phet commented on #16
@jonathanolson I think a shadow would be a nice touch and would make it more clear that the piece being dragged is "in the air"

[2018-12-04 02:57] ariel-phet commented on #15
@jonathanolson - to me desktop performance looks absolutely snappy.

iOS on iPad2 is laggy (but we will soon be dropping this platform as officially supported). It is usable, but a very obvious lag.

I will try to check on a newer iPad tomorrow. I am guessing it will look fine there, and not be worth any extra effort at the moment.

[2018-12-04 18:48] jonathanolson commented on #5
IIRC, the main decision was "leave it as-is, except for the asymmetric grids in mixed levels 9/10". I've replaced that so that it is just pies/bars.

Feel free to reopen if any changes are desired.

[2018-12-04 18:48] #5 closed

[2018-12-04 18:58] jonathanolson commented on #8
Mixed numbers level 5 notes in the design doc:

So say it picks (1 2/5, 2, 5/6, 1 4/7, 3 7/9). It seems impossible to force one that requires a "simplification" since e.g. 2/5 could be represented as 4/10 but that would require a 10 digit (not allowed). So presumably in generation I would need to pick at least one of the fractions with a denominator <=4 (and that one would get a multiplier, e.g. 2

[2018-12-04 19:02] amanda-phet commented on #17
I'm fine with @ariel-phet 's suggestions. I think it would be fine to keep the highlight, but am not tied to it (because it has always bothered me that it is highlighting a range). However, the highlight exists in the Intro screens, and it seems like it would be more consistent to keep it.

[2018-12-04 20:22] jonathanolson commented on #8
So for e.g. numbers (unmixed) level 2, it's essentially pick 3 from (1/2, 1/3, 1/4, 1/5, 2/3, 2/4, 2/5, 3/4, 3/5, 4/5), but also "2 possible ways to make at least one of the targets".

Given that it WAS doing searches only up to denominators of 8 for that level, things get tricky if it picks e.g. 2/5, 3/5, 4/5. Thus we already have 9 1/5ths for the generation, and the "find another way to make one

[2018-12-04 20:50] jonathanolson commented on #9
Fixed with the above commit.

[2018-12-04 20:50] #9 closed

[2018-12-04 20:59] jonathanolson commented on #12
Fixed.

[2018-12-04 20:59] #12 closed

[2018-12-04 20:59] jonathanolson commented on #13
Was done.

[2018-12-04 20:59] #13 closed

[2018-12-04 21:14] jonathanolson commented on #14
Fixed.

[2018-12-04 21:14] #14 closed

[2018-12-05 01:03] ariel-phet commented on #15
@jonathanolson I checked on an iPad Air and things were perfectly snappy.

Currently I feel it is not worth the effort to improve the iPad2 performance. It is a very obvious lag, but not unusable.

Closing

[2018-12-05 01:03] #15 closed

[2018-12-05 19:14] amanda-phet commented on #7
Should we discuss this in a design meeting? It seems like we need to figure out some game-play mechanics.

In ExEx, the return buttons are not available after you've finished a level and I think it works well. Does anyone have a strong opinion for keeping those available in case you want to re-try the same exact level? You can always click refresh to get a new set of challenges.

[2018-12-05 19:34] amanda-phet opened #19 "Add accordion box to Mixed Numbers Intro screen"
![image](https://user-images.githubusercontent.com/7852916/49538983-ddc9d480-f889-11e8-9f30-1f092bc43d94.png)

When minimized, the box can have the title "Equation"

[2018-12-05 19:36] amanda-phet opened #20 "Fractions Intro Game screen has challenges less than 1"
So the empty fraction container should not show the plus sign in these instances.

![image](https://user-images.githubusercontent.com/7852916/49539234-6d6f8300-f88a-11e8-8813-7ac9cc9a4078.png)

[2018-12-05 19:37] amanda-phet opened #21 "Mixed Numbers Lab screen should have mixed number container on startup"
![image](https://user-images.githubusercontent.com/7852916/49539302-9132c900-f88a-11e8-8329-e48925ed00a5.png)

[2018-12-05 19:39] amanda-phet opened #22 "Lab screen pixel-polish"
The spacing below the blue rectangles seems larger than above. However the spacing around the red circles seems fine.

![image](https://user-images.githubusercontent.com/7852916/49539370-bb848680-f88a-11e8-91af-680eacc564a5.png)

Can you shift the rectangles down a smidge?

[2018-12-05 19:42] amanda-phet opened #23 "have container controls go away on Game screens, like Lab screens"
To be consistent with the Lab screen, let's hide the +/- and <> buttons when the container is not active/ in focus.

![image](https://user-images.githubusercontent.com/7852916/49539518-0b634d80-f88b-11e8-970b-335d28f97b77.png)

If you answer a challenge correctly and a new container pops out into the play area, it will have focus.

Happy to discuss this at design meeting since we did already make

[2018-12-05 19:46] amanda-phet opened #24 "change color of partition lines"
The partition lines in the HTML5 sim seem very difficult to see. When comparing the two sims, it seems like maybe we are using a darker shade of gray. And the java sim might be using a thicker stroke?

Let's try changing the color of the partition lines, and if that doesn't solve the problem then we can try something else (like a black stroke or another color).

![image](https://user-images.github

[2018-12-05 20:50] jonathanolson commented on #8
For shapes unmixed level 2, make sure at least target has denominator <=4, and generate interesting fractions from denominator <=4 that is NOT identical to the straightforward fractions.

[2018-12-05 21:12] jonathanolson commented on #8
Only allow up to denominator 8 in shape levels (for pieces)

[2018-12-06 01:13] jonathanolson commented on #24
Done. Can you try off phettest to see if this is better? I can also increase the line width, or stroke the dashes.

[2018-12-06 01:58] jonathanolson commented on #21
Implemented.

For the Lab screen of build-a-fraction, what do you want? (It is the "mixed number" variety and shows the mixed number in the panel on the bottom). Tentatively it also starts out with a mixed number, but I can have it start with a non-mixed group.

[2018-12-06 02:31] jonathanolson commented on #20
Implemented, can you verify?

[2018-12-06 02:56] jonathanolson commented on #16
Hmm, the shadow (when generated from the touch area) doesn't look too great to me:

![shadow-1](https://user-images.githubusercontent.com/480878/49558270-b42f9e00-f8c7-11e8-9cbb-0931adcd1802.PNG)
![shadow-2](https://user-images.githubusercontent.com/480878/49558278-b8f45200-f8c7-11e8-9612-e53f508d5378.PNG)

Maybe it would be possible for someone to take the cake images and create a shadow image (d

[2018-12-06 03:00] jonathanolson opened #25 "branch: cake-shadow"
Temporary work for https://github.com/phetsims/fractions-common/issues/16 (shadow generated from touch area).

[2018-12-06 03:05] jonathanolson commented on #16
Branch above for the current code if desired.

I think the "cheap" shadow works for the flat shapes because it's a flat thing where the shadow would be the exact same shape. Here the shadow would naturally be very different.

[2018-12-06 04:09] amanda-phet commented on #16
This is basically what I did in Equality Explorer. Given the time crunch we are in, I think we should pick a different solution.

I played with it a bit and compared with the java version and I think the current behavior isn't too bothersome and is still an improvement.

[2018-12-06 17:12] #25 closed

[2018-12-06 17:14] jonathanolson commented on #16
@ariel-phet had the idea to just use the "base" of the cake slices for the shadows, and this looks much better to me.

Additionally, switching all of the shadows on the "intro" style screens to semi-transparent seems to improve the appearance.

@amanda-phet can you try out latest master (on phettest) to see how it looks to you?

[2018-12-06 17:21] jonathanolson commented on #22
Should be fixed (both should have the same center for alignment), can you verify?

[2018-12-06 17:57] jonathanolson commented on #17
Implemented the desired improvements. Let's potentially look at the new appearance in design meeting?

[2018-12-06 18:32] jonathanolson commented on #19
Added.

It currently uses the default layout for accordion boxes which hide their title, which ends up adding additional padding on the left:
<img width="254" alt="screen shot 2018-12-06 at 11 30 51 am" src="https://user-images.githubusercontent.com/480878/49604176-7aec4200-f94a-11e8-8fad-66c1e6cc8dbb.png">

It also currently keeps the equality sign fixed in position (although we could definitely

[2018-12-06 18:43] ariel-phet commented on #16
@jonathanolson @amanda-phet I really like the semitransparent shadow on the "intro" style screens on all the flat pieces.

I think it also looks pretty good on the cake pieces as well. All looking good in master to me.

[2018-12-06 18:46] ariel-phet commented on #17
Looking pretty good to me, hopefully we are at a consensus at design :)

[2018-12-06 18:53] jonathanolson commented on #23
Implemented. The "selected" status for groups should apply now to all game screens.

It selects the initial group and any groups that are animated out to the middle (for consistency).

Can you verify?

[2018-12-06 19:04] jonathanolson commented on #18
Not handling for now.

[2018-12-06 19:04] #18 closed

[2018-12-06 19:12] jonathanolson opened #26 "Incorrect jump/offset for cake pieces when dropped on a container"
There is a slight jump where it the endpoint of the animation is not exactly where it should be in the container.

[2018-12-06 20:52] amanda-phet commented on #17
12/6/18

Design meeting decision: make the major tick marks all the same weight (for some reason 0, 2, and 4 are thicker than 1 and 3). Keep the arrow a couple pixels to the left of the tick marks so it looks pointy.

[2018-12-06 20:54] amanda-phet opened #27 "Equality Lab screen pixel polishes"
Make the interactive fraction containers slightly smaller so the bucket can be smaller. In particular the red bars seems too large.

Make the overall interactive fractions slightly smaller so there is a little more whitespace between the fractions and the numberline/fraction representations.

[2018-12-06 20:54] amanda-phet commented on #27
We like the slightly smaller pink point and smaller yellow highlight.

[2018-12-06 21:00] amanda-phet commented on #19
We would also like the gray fraction to not appear in this box. So, instead of 4 0/5 = 20/5 would just show 4 = 20/5.

Is it possible to make the vinculum the same width for both fractions? Seems difficult since the right fraction can have a large denominator. AP would like the one on the right a little narrower and the one on the left a little wider. Scratch that- seems like an unnecessary compli

[2018-12-06 21:05] jonathanolson commented on #7
Return will clear the reward.

[2018-12-06 21:38] amanda-phet commented on #16
The cake looks fine to me. And I agree the semi-transparent shadow on other scenes works well.

[2018-12-06 21:44] amanda-phet commented on #20
Looks like it is working well!

[2018-12-06 21:46] amanda-phet commented on #21
Mixed number is fine with me for the build-a-fraction sim. Thanks!

[2018-12-06 21:47] amanda-phet commented on #22
Looks good to me!

[2018-12-06 21:54] amanda-phet commented on #23
All screens are looking good to me. Thanks!

[2018-12-06 22:02] amanda-phet commented on #24
It seems a lot better to me now! But the green on level 3 is pretty bad now. Comparing with the java version, the thicker stroke seems to make a difference, but I am concerned that across the board the contrast won't be great for any color (especially for a low-vision user) unless we change all colors, and the variety we currently have is really nice.

So, I'd like to try your idea to stroke the d

[2018-12-07 19:37] kathy-phet opened #28 "Increase touch areas to improve phone use"
I was playing with the Fractions sims on my phone and experiencing some challennges.

I think it would be good to review all the touchAreas and optimize them. In particular, the touchAreas on those controls in the "build container" that disappear when you tap away from the build container were particularly problematic because if I was trying to "undo" something but I missed the control, all the co

[2018-12-07 21:47] jonathanolson commented on #28
For the game/lab screens it looks like everything in the play area is that way. Things in the panels, and mostly everything on the intro screen is NOT touch-to-snag.

That sounds good. I'm not sure how large I'd want to make the touch area on the buttons (if the user tries to interact with a group behind then it is more of a tradeoff).

[2018-12-07 21:52] kathy-phet commented on #28
Is there a reason not to do touch-to-snag everywhere. It always seems more seemless to me.

[2018-12-07 21:54] kathy-phet commented on #28
I think on these buttons that go away, you can make it pretty large precisely because it does go away if they click out. Once someone clicks out, or onto a different object, I assume they will no longer be active and wouldn't interfere with any other clicks.

[2018-12-10 17:29] jonathanolson opened #29 "Code Review"
*Please mark failed items with* ❌

PhET code-review checklist
=============

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does the

[2018-12-10 17:30] jonathanolson commented on #29
For now, just reviewing the code under /building and /common would be good until I have everything fully ready for a code review.

[2018-12-10 19:42] jonathanolson commented on #24
My best idea for the dashes is to actually alternate between semi-transparent-black and semi-transparent-white:

![fraction-dashes-1](https://user-images.githubusercontent.com/480878/49757062-b784aa00-fc78-11e8-9cad-034d4e6df754.PNG)

It basically seems to have the same appearance on a white background, but (to me) looks better on a variety of colors.

Thoughts? (committed to master, feel free to

[2018-12-11 19:55] #23 closed

[2018-12-11 19:56] #22 closed

[2018-12-11 19:56] #21 closed

[2018-12-11 19:56] #20 closed

[2018-12-11 19:58] #16 closed

[2018-12-11 20:21] jonathanolson commented on #17
Should be changed, can you verify?

[2018-12-11 20:36] jonathanolson commented on #19
Implemented.

Let me know. It should be possible, but would just need a bit more details about desired behavior.

[2018-12-11 21:31] jonathanolson commented on #27
I've made a number of tweaks to the sizes, and fixed up the alignment (so that the equals at the bottom and the corresponding center will be at the exact center).

Can you see how this looks in master?

[2018-12-11 21:36] jonathanolson commented on #7
Implemented, can you try it out?

[2018-12-12 21:20] jonathanolson commented on #28
I made a quick first pass at touch areas for the sim:

![fractions-touch-3](https://user-images.githubusercontent.com/480878/49899427-ec2f6780-fe18-11e8-8f89-4578fd6d2d94.PNG)
![fractions-touch-4](https://user-images.githubusercontent.com/480878/49899428-ec2f6780-fe18-11e8-9071-4fcd213a91c3.PNG)
![fractions-touch-5](https://user-images.githubusercontent.com/480878/49899430-ecc7fe00-fe18-11e8-8d2d-

[2018-12-12 21:30] jonathanolson commented on #28
Forgot to put pieces into containers to see that. I'll add an expansion to it.

[2018-12-12 22:39] kathy-phet commented on #28
That looks good. I tried it on phettest. The ones I tried from the above collection seem to work well - a miss a few times, but not much.

Seems like the "undo" on the number version of the built fraction isn't done yet.
I'm also wondering if you did the return button in the collection box? It seems like maybe yes, but I wasn't running it with the query parameter.

[2018-12-13 03:41] jonathanolson commented on #28
Yup, also forgot about the number "return" button and the collection box "return" button. Those should be patched as well with the above commit.

[2018-12-13 16:35] jonathanolson commented on #8
I believe the specified limits should be in place.

[2018-12-13 17:06] jonathanolson opened #30 "Home/navigation icons"
Let me know when we have navbar / homescreen icons and I can put them in.

[2018-12-13 17:23] amanda-phet commented on #24
This is great! The semi-transparent stroke is nice because it looks nice on the white area, the black strokes, and the colored areas. I checked on all game levels and I think this is the best option! Thanks for coming up with this.

[2018-12-13 17:31] amanda-phet commented on #17
It is looking good. I still prefer having the pink arrow jump to the left a little at the major tick marks so it looks pointy.

[2018-12-13 17:47] jonathanolson commented on #17
Sorry about that, I'll get that implemented soon.

[2018-12-14 17:41] amanda-phet commented on #28
A visual look at the touch areas looks good to me, and when I'm on campus I can look at phettest on an iPad.

(Funny, until I saw the touch areas, I didn't even know the number line was interactive! That seems like a good reason for the dot on the Fractions Equality numberline to be semi-transparent, since that one is *not* interactive.)

[2018-12-14 17:44] amanda-phet commented on #28
Actually, can you expand the touch area for the accordion box?
![image](https://user-images.githubusercontent.com/7852916/50018665-43eedf80-ff8d-11e8-85c1-1ebd578d97bb.png)

[2018-12-14 20:47] jonathanolson commented on #8
Both of the game screens should be in https://phet-dev.colorado.edu/html/build-a-fraction/1.0.0-dev.12/phet/build-a-fraction_en_phet.html so I only published one dev version for testing.

Also level 3 (unmixed) shapes doesn't seem fully compatible with the given instructions. It includes taking a sample of fractions up to a denominator of 6, but then says that there should be multiple solutions fo

[2018-12-17 00:42] Denz1994 commented on #29
Fractions related sims ran fine for 20 minutes.

[2018-12-17 15:16] Denz1994 opened #31 "stringTest=long component overlap"
Related to #29:

Here are some places to address.

Fractions-Intro: Intro Screen
![image](https://user-images.githubusercontent.com/13894380/50095473-a3462d00-01e3-11e9-9e4a-37eaeddea014.png)

Fractions-Intro: Game Screen
![image](https://user-images.githubusercontent.com/13894380/50095515-b6f19380-01e3-11e9-82ee-16afe879c9c6.png)

Fractions-Mixed-Numbers: Intro Screen
![image](https://user-images

[2018-12-17 15:46] Denz1994 opened #32 "showAnswers fails on Game Screens"
Found in #29. Clicking the showAnswers button on the screen causes and error.

Fractions-Intro: Game Screen

    at FractionChallenge.cheat (FractionChallenge.js?bust=1545060328223:471)
    at Emitter.listener (BuildingGameScreenView.js?bust=1545060328223:186)
    at Emitter.emit (Emitter.js?bust=1545060328223:202)
    at PushButtonModel.fire (PushButtonModel.js?bust=1545060328223:155)
    at Arra

[2018-12-17 21:15] jonathanolson commented on #32
Looks like when I got rid of for-of loops I accidentally reused the variable `i` in an inner scope. It got shadowed and messed up the logic (function parameter and the `let` both used `i`).

Should be fixed now, can you verify?

And for now I don't know of plans to add the showAnswers setup for the matcher sim.

[2018-12-17 21:17] jonathanolson commented on #28
Done:

![fractions-box-touch](https://user-images.githubusercontent.com/480878/50116130-866f2100-0206-11e9-8d2c-e36a87237ca3.PNG)

Anything else to do here?

[2018-12-17 21:20] ariel-phet commented on #8
@jonathanolson going to make comments in this issue as I see them (so this comment will be edited several times likely):

## Unmixed "Number" challenges (Shapes as targets, number cards as answers)

[2018-12-18 06:36] kathy-phet commented on #28
Just wondering if it is known why joist doesn't show the touch areas:
![image](https://user-images.githubusercontent.com/5096804/50136288-8dbd1b80-0254-11e9-984e-4cde253a2a3f.png)

[2018-12-18 06:50] kathy-phet opened #33 "Consider making the yellow rectangles smaller"
I was playing with the sim some tonight. And the yellow rectangles feel more crowded than the other scenes. What do you think about scaling them down by 15% or so? To get more negative white space with the bucket.
![image](https://user-images.githubusercontent.com/5096804/50136880-81d25900-0256-11e9-9824-5f78c7c4a74c.png)

[2018-12-18 16:12] jonathanolson commented on #28
It looks like we're using a non-standard way of handling the mouse/touch areas in the code (NavigationBarScreenButton):

[code]

Should we open an issue to handle that?

[2018-12-18 16:44] Denz1994 commented on #32
This is working great in great in intro and mixed-numbers. However, there is no showAnswers button present in the game screen of fractions-equality.
![image](https://user-images.githubusercontent.com/13894380/50168290-0f469500-02b9-11e9-8370-ab9c958d2fe0.png)

This sim may require different behavior, because there can only be one proposed solution at a time unlike the other sims. Unless all of the

[2018-12-18 16:47] jonathanolson commented on #32
That's a screen that is pulled directly from fraction-matcher. I'm fine to either create an issue to look into handling showAnswers (which won't happen before the 1.0 release for the other sims), or to leave it out (since those levels aren't as difficult).

Thoughts?

[2018-12-18 16:52] Denz1994 commented on #32
I propose making an issue, referencing this one, and not handling showAnswers for this screen right now because the behavior may be different. Once we get around to updating the code base for fraction-matcher we can handle this showAnswers behavior as well.

I'll leave to you to create the issue and close this one if that sounds good.

[2018-12-18 16:53] jonathanolson opened #34 "Handle ?showAnswers for fraction-matcher screens"
See https://github.com/phetsims/fractions-common/issues/32.

[2018-12-18 16:54] jonathanolson commented on #32
Sounds good, created https://github.com/phetsims/fractions-common/issues/34, thanks. Closing.

[2018-12-18 17:07] ariel-phet commented on #8
## Mixed "Number" challenges
_(Shapes as targets, number cards as answers)_

[2018-12-18 17:15] kathy-phet commented on #28
I  leave it up to you and the other devs as to whether this is important to rework or if it has any implications for accessibility the way it is now.

[2018-12-18 17:16] kathy-phet commented on #28
Perhaps I never his submit on my comment, but I also wanted to request to increase touch area around the Mixed Numbers check box.

[2018-12-18 17:24] amanda-phet commented on #27
I looked at dev.6 and all looks good to me. Thanks for making those tweaks!

[2018-12-18 17:35] amanda-phet commented on #10
New artwork is ready @jonathanolson . Can you try implementing this and see how it goes? This is artwork that is ONLY for the bucket, and once the user picks up a piece, it will be one of the pieces already being used in the sim.
[cake_bucket_pieces.zip](https://github.com/phetsims/fractions-common/files/2691605/cake_bucket_pieces.zip)

[2018-12-18 17:50] jonathanolson commented on #28
Increased the touch area around the Mixed Numbers checkbox, and created an issue for the navbar (https://github.com/phetsims/joist/issues/545).

Anything else to do here?

[2018-12-18 17:55] amanda-phet commented on #28
Nope, thanks for making all these changes.

[2018-12-18 17:55] #28 closed

[2018-12-18 18:15] jonathanolson opened #35 "branch: cake-bucket"
For handling changes for https://github.com/phetsims/fractions-common/issues/10

[2018-12-18 18:30] jonathanolson commented on #10
Added in a branch, version published at https://phet-dev.colorado.edu/html/fractions-intro/1.0.0-dev.16/phet/fractions-intro_en_phet.html.

A few notes about this:

1. The location of the cake in the image (and its candle) is not consistent. Particularly switching rapidly between denominators 5-8 will cause the center of the piece (and location of the candle) to jump back-and-forth. Additionally f

[2018-12-18 18:46] amanda-phet commented on #10
1. The candle location is slightly concerning. I can change the image sizes if needed, but that seems like a separate issue.

2. The perspective isn't a big deal to me because most of the cake is completely covered by the bucket.
3. I'm guessing it's an illusion from the perspective angle, because I thought the same thing about 1/3 and 1/4.

I can have Cheryl work on the candle placement (and actu

[2018-12-18 18:50] jonathanolson commented on #10
Checked into the 1/3rd piece dimensions, and it still looks a bit large.

It looks like the "aspect ratio" of the top is ~0.48 (compared to the original at ~0.46) so it's very close.

It looks like the visible angles (off the horizontal) for the 1/3rd piece are ~11.3 degrees, whereas a 1/3rd piece angle for the aspect ratios would be between ~14.8 and ~15.5.

A 1/3rd piece would (from the top) be

[2018-12-18 18:53] amanda-phet commented on #10
The images also look a bit aliased... so I'm wondering if we should just use the original ones we have, especially given all these discrepancies.

[2018-12-18 18:54] jonathanolson commented on #10
Potentially re-exporting could fix any aliasing issues, and presumably the image size issue (which isn't a major problem, they are just getting centered anyways).

[2018-12-18 18:56] #32 closed

[2018-12-18 18:57] amanda-phet commented on #7
I would love to. Can you remind me how to skip through the levels? Is it ?showAnswers? That doesn't seem to be working for me.

[2018-12-18 19:08] jonathanolson commented on #7
Try running things from phettest? It was decided in meetings that the showAnswers query parameter would be disabled for built versions of a sim (e.g. dev, production) so that kids wouldn't be able to use it to cheat.

[2018-12-18 19:09] jonathanolson commented on #7
So this link should work for the games: http://phettest.colorado.edu/build-a-fraction/build-a-fraction_en.html?ea&brand=phet&showAnswers

[2018-12-18 19:34] amanda-phet commented on #30
Thoughts on these icons?

![image](https://user-images.githubusercontent.com/7852916/50178152-f80ba580-02c0-11e9-8fc7-568d1964bb26.png)

![image](https://user-images.githubusercontent.com/7852916/50178165-05289480-02c1-11e9-8cb9-d196420dec93.png)

![image](https://user-images.githubusercontent.com/7852916/50178187-107bc000-02c1-11e9-830b-562a9ed54c82.png)

![image](https://user-images.githubuserco

[2018-12-18 19:41] jonathanolson commented on #31
All of this should be fixed up now, can you verify?

[2018-12-18 19:41] kathy-phet commented on #33
Looks good to me. I like how the white space is balanced between the top and bottom of the rectangle now.

[2018-12-18 20:05] jonathanolson commented on #17
Implemented.

Can you see if it looks good? I also enforced the previous somewhat-implicit choice that it's the left of the major tick marks that is aligned with the panel above (and not the arrow being aligned with the panel).

[2018-12-18 20:06] Denz1994 commented on #31
Looking good. Closing.

[2018-12-18 20:06] #31 closed

[2018-12-18 20:07] jonathanolson commented on #30
Those all look like they can be generated in code, so presumably I'd prefer to do it that way once the design is finalized unless I hear otherwise?

[2018-12-18 20:09] jonathanolson commented on #33
I think there were fairly thin tolerances on things not "poking through the bottom sides of the bucket" before, so there wasn't a lot of potential to shift things in the bucket down.

I'm happy to make changes. Is the behavior now good, or should I try shifting things down (which will definitely work now that the size is changed)?

[2018-12-18 20:16] jonathanolson commented on #8
Should be fixed. How do you want me to (a) mark things as "complete, ready for testing" and (b) comment on individual items?

[2018-12-18 20:32] jonathanolson commented on #8
Implemented.

[2018-12-18 20:35] jonathanolson commented on #8
Is that https://github.com/phetsims/vegas/blob/master/sounds/trumpet.mp3? (It is marked in VEGAS code as the sound for "imperfect score"; should we look into those names internally?)

[2018-12-18 21:17] jonathanolson commented on #8
To get alignment to be consistent, I'm planning on padding out less-wide shapes to take up as much room as the widest shapes we use. Thus for example, the two following screenshots have the exact same collection box locations:

<img width="316" alt="screen shot 2018-12-18 at 2 15 37 pm" src="https://user-images.githubusercontent.com/480878/50183516-8e46c800-02cf-11e9-95ec-a3ecdb0bf650.png">
<img w

[2018-12-18 21:17] jonathanolson commented on #8
(Level 4 mixed numbers is useful for comparisons, since it uses pyramids).

[2018-12-18 21:35] kathy-phet commented on #30
Here are my suggestions ... take them or leave them.

Fractions Intro = screen 2 look good. on screen 3 can you make them match (both be 3 quarters?)? the screen 1 icon - can we put the number fraction in there and remove the cup. also numberline should be less than 1 - that is the fractions should all match.
Can you include a proposal for the small icon too?

Fractions: Mixed Numbers = looks good

[2018-12-18 21:40] jonathanolson commented on #8
Should be handled now.

[2018-12-18 21:43] jonathanolson commented on #8
Implemented.

[2018-12-18 21:49] jonathanolson commented on #8
Does this mean that things could be potentially simplified as 2/6 => 1/3, 3/6 => 1/2, 4/6 => 2/3? Will wait for more input on that level in particular.

[2018-12-19 01:51] ariel-phet commented on #8
## Mixed "Shape" challenges
_(Numbers as targets, shape pieces for constructing answers)_

1.

[2018-12-19 02:01] ariel-phet commented on #30
@amanda-phet I think everything looks good except "Intro" on Fractions: Intro and Fractions: Mixed Numbers. Both of those look a bit busy, and might not work well on the nav bar. I think as long as it looks different than the other screens, it doesn't have to perfectly represent all that is on the screen. Maybe just the number and the numberline?

[2018-12-19 02:09] ariel-phet commented on #8
:green_heart:

[2018-12-19 16:41] amanda-phet commented on #30
How about this- I reduced the number of fractions down to 2 for both intro screens and tweaked the representations slightly. I agree it has to look different than the other screens, but representing the differentiating content of each screen is important.

Fractions: Intro
![image](https://user-images.githubusercontent.com/7852916/50233773-627c1e80-0371-11e9-8260-6ac669470bff.png)
![image](https:/

[2018-12-19 18:30] jonathanolson commented on #8
It's not the trumpet sound, but instead in Java trunk/simulations-java/common/games/data/games/audio/gameOver-perfectScore.wav.

[2018-12-19 18:57] amanda-phet commented on #17
All looks good to me!

[2018-12-19 18:57] #17 closed

[2018-12-19 18:58] jonathanolson commented on #8
- [ ] Use improved sound, move to vegas, talk to JB
- [ ] Collection boxes/targets shouldn't shift vertically, allow room for stacks of 10 worth of panel below
- [ ] Use a specific (old) padding between shape target partitions
- [ ] Resize shapes so they have approximately the same width. 6-flowers not too big --- size up to a given maximum width OR height
- [ ] Collection boxes are positioned as

[2018-12-19 19:35] amanda-phet commented on #30
@jonathanolson I think code is definitely the best way to generate these. Let me know if you need anything else from me.

[2018-12-19 19:41] amanda-phet commented on #7
1. I'm getting the clapping sound after every level- that doesn't seem right.
2. I clicked done, was returned to the level selection screen, and the sim froze :/ I was hoping to test something out but now I can't press any buttons.
3. It seems like other than the above bugs, the interaction is working as specified. I can click return and the reward node stops.

[2018-12-19 19:41] amanda-phet commented on #7
^ Do you want me to make separate bug issues for 1 and 2 above?

[2018-12-19 20:39] Denz1994 opened #36 "Sim fails when returning pieces to bucket"
Found during: #29

Steps to reproduce:
Note this is the most consistent means of reproduction, but it may not be limited to this interaction.

1. Open sim to Mixed-Numbers screen.
2. Click on level 1 (for low difficultly).
3. Solve a problem that involves using a whole shape.
4. Drag a new empty shape container into the play area.
5. Click on the plus sign to add more empty shape containers to the

[2018-12-19 20:46] Denz1994 commented on #29
`fractions-common/js/building` is primarily used for interactions on several screens with behavior similar to the lab screen in Build-A-Fraction. It includes its own model and view directories, which is why it isn't under the common directory.

[2018-12-19 20:51] Denz1994 commented on #29
`fractions-common/js/fractions-common-test-config.js` is present in the common repo. Is this still necessary @jonathanolson or can we delete this file?

[2018-12-19 21:18] Denz1994 opened #37 "Update Credits of Fractions sims"
Related to #29.

All fractions-commmon related sims need their credits updated. I'm creating this issue to track this.

[2018-12-19 21:22] Denz1994 commented on #29
I don't see an assets directory for the cake images or the scale image. @jonathanolson should this be included?

[2018-12-19 23:52] ariel-phet commented on #10
@jonathanolson lets go with the originals, and then defer this issue. I think we are planning on doing some clean up to Fraction Matcher after publishing 1.0 of these sims, and we include these artwork improvements there.

[2018-12-20 16:01] jonathanolson commented on #29
It's needed to run the unit tests (/fractions-common/fractions-common-tests.html?ea), so it should be kept.

[2018-12-20 16:02] jonathanolson opened #38 "Assets for fractions images"
@Denz1994 noted:

Do we have any of the source assets for the original cake images or the scale image?

[2018-12-20 16:03] jonathanolson commented on #29
Created https://github.com/phetsims/fractions-common/issues/38

[2018-12-20 16:04] jonathanolson commented on #7
This is planned to change to the organ sound from the original game. I forgot to push my changes from my home computer, so I'll have it later today.

I'll look into it.

[2018-12-20 16:17] jonathanolson commented on #7
Should be fixed.

[2018-12-20 16:45] jonathanolson commented on #37
@amanda-phet or @ariel-phet what should the credits be for the main 4 sims? Also do credits need to change for fraction-matcher at all?

[2018-12-20 18:00] jonathanolson commented on #8
Interesting. It looks like the "ignore levels with 10+ in a stack and regenerate" condition is definitely changing the distribution here.

I've changed the implementation of the piece generation to better match the spec: for each of the two fractions, it gives one set of "straightforward" pieces (e.g. 7/8 => 7x 1/8), and it also gives one set of "difficult" pieces (an interesting mix of fractions

[2018-12-20 18:13] jonathanolson commented on #8
Mixed Shape level 8:

I've changed the selection of fractions so that there are at least 2 ones with "splittable" denominators (<=4). It definitely still is splitting the whole pieces, and that would make it difficult to not use nontrivial pieces. Are there particular examples of how we want things to behave?

[2018-12-20 19:50] amanda-phet commented on #37
QA credits will need to be added for fraction-matcher but otherwise they can stay the same. (@KatieWoe should communicate QA credits for all sims after all testing is done.)

**Fractions-Intro**
Ariel Paul (lead designer)
Jonathan Olson (developer)
Sam Reid (original developer)
Mike Dubson
Trish Loeblein
Amanda McGarry
Kathy Perkins

**Fractions-Mixed-Numbers**
Amanda McGarry (lead designer)
Jonat

[2018-12-20 19:57] amanda-phet commented on #38
Nevermind, the scale artwork is already there. So this issue can be closed.

[2018-12-20 19:57] #38 closed

[2018-12-21 12:47] Denz1994 opened #39 "Memory Leak testing"
Reported during #29.

Testing on macOS (10.13.6) + Chrome (71.0.3578.98) + incognito mode. Heap comparison shot in 15 minute intervals below.

Fractions intro:
![image](https://user-images.githubusercontent.com/13894380/50343275-3210bd80-04f4-11e9-9d55-502171545076.png)

[2018-12-21 12:50] Denz1994 commented on #39
Fractions - Equality
![image](https://user-images.githubusercontent.com/13894380/50343410-be22e500-04f4-11e9-8740-c736a0a39e10.png)

[2018-12-21 12:51] Denz1994 commented on #39
Build-A-Fraction:
]![image](https://user-images.githubusercontent.com/13894380/50343511-27a2f380-04f5-11e9-8c68-053d07578d7b.png)

[2018-12-21 12:52] Denz1994 commented on #39
Fractions-Mixed-Numbers:
![image](https://user-images.githubusercontent.com/13894380/50343536-473a1c00-04f5-11e9-843d-1f5a31089450.png)

[2018-12-21 13:09] Denz1994 commented on #39
Based on my experience doing previous memory test, I would have expected memory usage to  plateau after 2hrs. But results seem inconsistant especially in Fractions-Mixed-Numbers and Build-A-Fraction.

There are some spikes in memory usage, and I believe those snapshots were taken when the sim was on a lab screen. I will do a long test at 30 min intervals and if the inconsitancy persist, commence m

[2018-12-21 13:22] Denz1994 commented on #29
Tracked in #39

[2018-12-21 14:09] Denz1994 opened #40 "Screen.js files are not converted to ES6"
Found during #29

Files such as `Fractions-Mixed-Numbers/GameScreen.js` are not ES6 ready. This is true for `*Screen.js` files in Fractions-Mixed-Numbers, Fractions-Intro, Fractions-Equality, and Build-A-Fraction. Is this something that should be taken care of now @jonathanolson, considering the common repo is converted to ES6?

[2018-12-21 14:15] Denz1994 commented on #36
Works great. Closing this issue. Thanks.

[2018-12-21 14:15] #36 closed

[2018-12-21 14:38] Denz1994 commented on #29
Note: Master checklists of Fractions-Equality, Fractions-Intro, Build-A-Fraction, and Fractions-Mixed-Numbers seem like they haven't gotten much attention. Perhaps it would be good to consult with relevant designers @jonathanolson.

[2018-12-21 15:52] Denz1994 commented on #29
Related sims are responsive and work fine while testing on chrome (71.0.3578.98) + macOS(10.13.6)

[2018-12-21 16:40] Denz1994 commented on #29
At the time of review Branch: temp-sound-refactor doesn't have an associated issue.

[2018-12-21 16:41] Denz1994 commented on #29
Model.md and Implementation notes still need to be updated.

[2018-12-21 20:13] Denz1994 commented on #29
Much of the code duplication comes from `FractionLevel.js`. It is noted in the design doc and code documentation specifics for level creation and some levels are very similar. These are statics which are expected to have code duplication. Other instances found using `grunt find-duplicates` are referenced in Fraction-Matcher, which was noted to be out of date and not a priority for this review.

[2018-12-21 20:34] samreid opened #41 "Convert static getters to static properties"
From https://github.com/phetsims/wave-interference/issues/281 @jonathanolson said:

[2018-12-26 20:42] amanda-phet opened #42 "Game screen performance"
When all 10 levels of a "game" are complete, the wipe transitions between levels are noticeably jumpy or just nonexistent. However, if only a couple are complete, you can still see the wipe.

Found on Chrome, Mac OS.

![untitled](https://user-images.githubusercontent.com/7852916/50456690-8c09ec80-0913-11e9-9ed1-58a76ead7252.gif)

Also: when checking FF, I don't see a wipe at all after completing j

[2018-12-28 02:32] ariel-phet commented on #8
Looks like all issues have been addressed! Nice work @jonathanolson :tada: :tada: :tada:

Closing

[2018-12-28 19:30] ariel-phet commented on #42
@jonathanolson and I discussed and he said:

We will try this strategy

[2018-12-29 01:16] jonathanolson commented on #42
Implemented, see https://phet-dev.colorado.edu/html/build-a-fraction/1.0.0-dev.16/phet/build-a-fraction_en_phet.html for how it feels.

[2018-12-29 02:34] ariel-phet commented on #42
Looking good to me

[2019-01-02 14:20] Denz1994 commented on #40
This looks good. Closing.

[2019-01-02 14:20] #40 closed

[2019-01-02 22:15] Denz1994 commented on #39
Testing on macOS (10.13.6) + Chrome (71.0.3578.98) + incognito mode. Heap comparison shot in 30 minute intervals below.

Note: Snapshot 13 to Snapshot 14 was taken with about an hour interval.

[2019-01-02 22:17] Denz1994 commented on #39
Fractions Intro:
![image](https://user-images.githubusercontent.com/13894380/50615363-394fa800-0eb2-11e9-8afb-5e965a2ec392.png)

[2019-01-02 22:18] Denz1994 commented on #39
Fractions - Equality
![image](https://user-images.githubusercontent.com/13894380/50615401-6308cf00-0eb2-11e9-97ae-31e6a388eb02.png)

[2019-01-02 22:22] Denz1994 commented on #39
Build-A-Fraction:
![image](https://user-images.githubusercontent.com/13894380/50615530-f5a96e00-0eb2-11e9-8060-22aad0ffd597.png)

[2019-01-03 03:08] jonathanolson commented on #30
Updated master, how does it look now?

[2019-01-03 20:49] amanda-phet commented on #30
I like that change.

The only thing I am seeing: The Fraction Matcher game screen icon is being used in Fractions Equality, but the navbar icon looks really strange in Fractions Equality. I'm wondering if we need to specify an icon for this sim that is different from the Fraction Matcher sim. @jonathanolson can we do that? Perhaps just use the main home screen icon in the navbar.
![image](https://

[2019-01-03 20:58] amanda-phet commented on #42
This seems to be much improved! Thanks!

[2019-01-03 20:58] #42 closed

[2019-01-04 08:12] phet-steele commented on #19
Hovering my mouse over where the title would be if it weren't hidden (while the box is expanded) makes the top section of the box look very clickable. My cursor becomes a hand, yet clicking the top of the box does nothing (again, while it is expanded). @amanda-phet I'd suggest either clicking there closes it, or the cursor does not indicate that it can be clicked.

For phetsims/QA/issues/253.

[2019-01-04 08:12] phet-steele opened #43 "Clean up container controls' visual cue in games"
In FMN, FI, and BAF games, levels begin with the container controls active. If we are wanting to keep this behaviour, we could probably clean it up a bit. I've spotted two "issues" to look at:

1. Clicking anywhere away from the container dismisses the controls. This notably includes the back arrow button. Clicking this button, then returning to the same level, will now have the container controls

[2019-01-04 08:12] phet-steele opened #44 "Bring container/fraction to the front when pieces are dropped in?"
Imagine you have two shapes overlapping like this on a lab screen:

![image](https://user-images.githubusercontent.com/5863899/50675191-a1cd8080-0fa9-11e9-8c6a-020ac2c8ee50.png)

I think it would be best that dropping a circle piece into the back one would bring the entire shape to the front. Currently it stays behind:

![image](https://user-images.githubusercontent.com/5863899/50675202-b90c6e00-0

[2019-01-04 08:12] phet-steele opened #45 "Require all levels to be completed again to receive reward"
The games in FI, FMN, and BAF allow you to complete all levels to see the reward node, then refresh just ONE level, complete it and see the reward node again. This directly contradicts the efforts made in phetsims/expression-exchange/issues/85 (the sim with the pinnacle of PhET game design. You're welcome.) which requires that ALLLLLLLL levels are refreshed and completed again if one wants to see

[2019-01-04 08:12] phet-steele opened #46 "Remove smiley and Next button when returning to a completed level"
The games in FMN, FI, and BAF have a small deviation from Expression Exchange's game (the sim with PhET's most clever game design). ExEx would not have a smiley face or Next button at all when returning to completed levels, yet the games in these fractions sims do. I'd have to imagine this was done in ExEx to motivate a player to refresh a level and keep playing.

Thoughts @ariel-phet? For phetsim

[2019-01-04 08:12] phet-steele opened #47 "Level 10 is missing the "Next" button"
See the flow of Expression Exchange's game (aka best PhET game ever) to see how this could be improved. Since we allow players to start at whatever level they like AND they must complete all levels to get a reward, we felt it was important to show the "Next" button on every level to encourage the completion of all levels. Pressing "Next" on level 10 (or level 8 in ExEx) would wrap around to level

[2019-01-04 08:12] phet-steele opened #48 "Remove undo buttons on a completed level"
The game in Expression Exchange (the superior PhET game) disables these undo buttons once all prompts have been answered, see https://github.com/phetsims/expression-exchange/issues/107. Too bad we didn’t write WHY we decided that, probably to motivate the player to refresh the level.

![image](https://user-images.githubusercontent.com/5863899/50670683-7ab38680-0f8a-11e9-8a79-c6d36b25472c.png)

Any

[2019-01-04 08:12] phet-steele opened #49 "Animate incorrect answers just to the left of the collection area"
Out of curiosity, why do the games in FI, FMN, and BAF bounce the term for an incorrect answer to the middle of the play area? Expression Exchange's game (with superhuman game design) just bounces the term to the left of the collection area they were attempting to place the answer in, instead of traveling all the way to the middle of the screen. This isn't a big deal either way, but it does allow

[2019-01-04 08:12] phet-steele opened #50 "Incorrect answer has no audible feedback"
We have no “boing” sound for an incorrect answer in FI, FMN, and BAF games. Play the game in Expression Exchange (the greatest gaming achievement in PhET's history) to see my preferred behaviour.

Seen on Win 10 Chrome. For phetsims/QA/issues/250.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/build-a-fraction/1.0.0-dev.17/phet/build-a-fraction_e

[2019-01-04 08:12] phet-steele opened #51 "Button sizes are all over the place!"
The button sizes (Reset All, Sound, Timer) on the game screens of Fractions: Equality and Fraction Matcher are much bigger than their counterparts in the other fractions sims. Particularly within Fractions: Equality, both screens have different sized Reset All buttons:

![image](https://user-images.githubusercontent.com/5863899/50677135-56b96a80-0fb5-11e9-9754-f083fd21308d.png)
![image](https://us

[2019-01-04 08:12] phet-steele opened #52 "Change sim title to "Fractions: Intro"?"
Shouldn't the title of Fractions Intro instead have a colon like “Fractions: Intro”? This would match the other sims like Fractions: Equality and Fractions: Mixed Numbers. Not to call out @jonathanolson, but it looks like he subconsciously added a colon in the title of phetsims/QA/issues/252 😄.

[2019-01-04 08:12] phet-steele opened #53 "Level select titles are missing and verbose (sometimes)"
The level select screens in FI, FMN, and BAF do not have a title, unlike FE and FM:

![image](https://user-images.githubusercontent.com/5863899/50670639-2c9e8300-0f8a-11e9-8ed8-7164a98fe3ee.png)

Furthermore, the only reason the title “Fractions: Choose your level!” is used in the FM level select is because “Fractions” is the name of the screen. The other screen in that sim is named “Mixed Numbers

[2019-01-04 08:12] phet-steele opened #54 "Reorganize level select to group like challenge together"
An age old slack conversation with myself and @amanda-phet, with edits for readability:

Steele Dalton: Okay I'm not a fan of the way this game screen is divided, with levels 1-5 for both versions in one half, and level 6-10 for both in the other half. All that instead of 1-10 for one version in one half. Please explain.

Amanda McGarry: That’s how the original one does it.

Steele Dalton: The ori

[2019-01-04 08:12] phet-steele opened #55 "Streamline fraction editing by allowing drop-in replacement"
So why can't I "edit" a numerical fraction without undoing the existing numbers first? Like if I have 8/5 and want to change it to 8/6, you are forcing me to completely erase the fraction first. Why can't I just drag a new number on top to replace an old one? Wouldn't this be easier?

I think this is further complicated by the undo button ALWAYS removing the numerator first, even if it were the de

[2019-01-04 16:05] KatieWoe commented on #54
I would agree, and further suggest that it might be a good idea to think about including titles as discussed in https://github.com/phetsims/fractions-common/issues/53.  I.E. Build a Fraction: Numbers or Build a Fraction: Shapes.  This may be too verbose though.

[2019-01-04 16:13] KatieWoe commented on #54
Note: this also applies to https://github.com/phetsims/QA/issues/252 and https://github.com/phetsims/QA/issues/253

[2019-01-04 16:20] KatieWoe opened #56 "Image for level select seem backwards"
For https://github.com/phetsims/QA/issues/250, https://github.com/phetsims/QA/issues/252, and https://github.com/phetsims/QA/issues/253
The images shown when selecting a level show either number fractions, or shapes split in to pieces.  The images show the thing you will be trying to match.  I think it would make more sense if they showed what you would be building.  For example, if you click on a

[2019-01-04 16:34] KatieWoe opened #57 "Ability to clear a fraction shape?"
For https://github.com/phetsims/QA/issues/250, https://github.com/phetsims/QA/issues/252, and https://github.com/phetsims/QA/issues/253
When building a shape you can either hit the undo button several times or drag the shape into the bin and drag it out again if you want to start over.  It may be useful to have a way to clear the shape of pieces, but still leave it up.  I'm not sure if there is an

[2019-01-04 16:42] KatieWoe commented on #55
This point about the undo button always removing a certain piece, rather than the last one placed, applies to the shapes as well.  Here I last added a 1/3 piece to the first circle, but undo takes away a 1/4 piece from the second circle.
![wrongorder](https://user-images.githubusercontent.com/41024075/50699412-010cae80-1005-11e9-9d54-d47717e0da25.gif)

[2019-01-04 17:14] KatieWoe opened #58 "Hitting back arrow may take you to previous game screen"
For https://github.com/phetsims/QA/issues/250, https://github.com/phetsims/QA/issues/252, and https://github.com/phetsims/QA/issues/253
May no longer be an issue depending on the outcome of https://github.com/phetsims/fractions-common/issues/54.  When you hit the back arrow in a game, it takes you to the last level select screen you saw.  This is not necessarily the one that has the level you were

[2019-01-04 17:39] amanda-phet commented on #19
@jonathanolson can you please change the cursor so it doesn't show a hand?

[2019-01-04 17:44] amanda-phet commented on #43
I could go either way with the first issue, but if we keep the controls visible after a refresh it seems like they should also be visible after clicking back and then back into the level.

Double-clicking the refresh button is unusual and it seems like it is registering the first click as refresh and the second click as "clicking away" so I don't think we need to pursue this use case.

[2019-01-04 17:47] amanda-phet commented on #45
We are aware of this user interaction and decided we were not concerned about someone seeing the reward node again in this case.

[2019-01-04 17:47] #45 closed

[2019-01-04 17:50] amanda-phet commented on #46
We weren't trying to exactly mimic Expression Exchange, so this discrepancy is not a concern.

With that said, I would be fine if the smiley face and next button are not visible. @ariel-phet what do you think?

[2019-01-04 17:53] KatieWoe opened #59 "Inconsistent behavior of container when dragged with touch"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/250, https://github.com/phetsims/QA/issues/252, and https://github.com/phetsims/QA/issues/253
When dragging a shape container from a bin using a mouse the bin becomes the focus and it gains the plus sign and arrows.  When the shape container is dragged us

[2019-01-04 18:00] amanda-phet commented on #47
I agree, level 10 should show the next button in this case, but I wouldn't want to show it all the time. If a (typical) user completes levels 1-10 in order, it wouldn't make sense to show the next button when they complete level 10 and get the reward node.

@jonathanolson ideas for what to do? We are not trying to explicitly mimic the ExEx game, so without changing the entire game play, is there a

[2019-01-04 18:06] amanda-phet commented on #48
We decided to leave these buttons in the Fractions suite games. We didn't record *why* either, but I know it was discussed!

[2019-01-04 18:06] #48 closed

[2019-01-04 18:12] amanda-phet commented on #49
In ExEx there could be loose pieces in the middle of the screen, but that is not possible in Fractions games. Pieces can only be in containers. Since users are building in those containers, it makes more sense to have the container in the central play area where you can easily drag pieces up.

[2019-01-04 18:12] #49 closed

[2019-01-04 18:13] amanda-phet commented on #50
I think it's pretty clear that an answer is incorrect when the piece bounces out, but am open to having an incorrect sound if other team members want it.

@ariel-phet and @kathy-phet let me know if you want an incorrect boing.

[2019-01-04 18:15] amanda-phet commented on #51
@jonathanolson did the defaults change for reset-all and other buttons in the last 4 years? If so, perhaps we should update the buttons in Fraction Matcher to match the latest buttons.

[2019-01-04 18:17] amanda-phet commented on #52
Yes the title is supposed to have a colon.

[2019-01-04 18:18] KatieWoe opened #60 "Seemingly impossible level"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/250
Upon first starting the Level 10 matching fractions to shape level on the Build a Fraction screen, I encountered a seemingly impossible level.  Neither @phet-steele or I could solve it.  I haven't seen other impossible levels, but will keep looking an

[2019-01-04 18:21] amanda-phet commented on #53
That's my vote as well. FM still needs those titles, but if we can make that change in FE I think that would be best.

[2019-01-04 18:22] KatieWoe commented on #60
Hit refresh once, and found a seeming other instance:
![moreimpossible](https://user-images.githubusercontent.com/41024075/50703972-11c42100-1013-11e9-98fb-68b32c4f300c.PNG)

[2019-01-04 18:32] amanda-phet commented on #56
That's interesting you bring this up because this was a change that happened between dev.10 and dev.11.

@ariel-phet should we interview on this since it is a change from the java version?

[2019-01-04 18:42] phet-steele commented on #60
Could be why `?showAnswers` asserts on this level in BAF.

[2019-01-04 18:42] amanda-phet commented on #57
Since you can drag the shape to the panel I think that is adequate. I don't like the idea of adding another control to the container (such as a reset), but am open to considering something else. @ariel-phet @kathy-phet ideas?

[2019-01-04 18:52] jonathanolson commented on #52
Done with the above commit.

[2019-01-04 18:52] #52 closed

[2019-01-04 18:56] amanda-phet commented on #58
This seems like a logical idea.

@jonathanolson can this be done easily?

[2019-01-04 18:56] phet-steele commented on #46
I realize I totally need to clarify that ExEx only hides the smiley and Next button on a completed level AFTER all levels have been completed.

[2019-01-04 18:57] phet-steele commented on #47
In this scenario, they would never see the next button anyway since a) it would be covered by the reward dialog with the "Done" button, and b) moving forward with #46 means they would never see the Next button upon returning to a completed level 10 when all other levels have been completed.

[2019-01-04 18:57] ariel-phet commented on #57
I am going to mark this question deferred for the moment. Certainly for 1.0 I do not think we want to mess with this behavior

[2019-01-04 19:02] ariel-phet commented on #50
I am all for consistency. Considering ExEx is our first HTML5 "build" style game where you are building to targets, I think it would be reasonable to include this sound on bounce out.

@jonathanolson see Expression Exchange for the "boing" sound

[2019-01-04 19:52] KatieWoe commented on #60
Didn't try for as long, but it seems like this may be a problem in Fractions: Intro as well.
https://github.com/phetsims/QA/issues/252
![maybecant](https://user-images.githubusercontent.com/41024075/50707862-8f8e2980-101f-11e9-8c5a-0791706ad317.PNG)

[2019-01-04 20:14] jonathanolson commented on #19
This would be a very general change to AccordionBox (not having the title bar area pickable when expanded when we don't show the title).

@ariel-phet thoughts?

[2019-01-04 20:16] KatieWoe opened #61 "Only the first Mixed number displays the "no" sign"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/250 and https://github.com/phetsims/QA/issues/253
The Mixed Number fractions that allow you to drag numbers will not allow a 1 on the bottom fraction.  This is signaled by "no" sign.  When in a game that uses these tools, only the one that is initially out will

[2019-01-04 20:21] amanda-phet commented on #19
It currently isn't pickable, though, in this sim. It is showing the hand, but isn't pickable. If it's standard to be pickable let's just do that.

[2019-01-04 20:40] amanda-phet commented on #59
Is this a multitouch bug? seems like just a bug to me.

I agree this should be fixed though.

[2019-01-04 20:42] amanda-phet commented on #61
Looks like a bug to me too. Good catch.

[2019-01-04 20:44] amanda-phet commented on #44
If it's not to difficult for @jonathanolson to fix, I think this would be fine to change. But the pieces can easily be rearranged at any time, so I am ok if this needs to be deferred.

[2019-01-04 20:50] KatieWoe commented on #59
More like single touch.  I may have misinterpreted multitouch term

[2019-01-04 22:44] ariel-phet commented on #56
@KatieWoe we had some debate about this...I actually found the reverse confusing so we changed it.

One big reason for me is that many of the "shapes" we show never appear as things you can build with (since we only ever build with circle and rectangle slices).

I think the game level icons are clearer this way, which is why I opted for the change.

@phet-steele any thoughts?

[2019-01-04 22:45] amanda-phet commented on #56
@arouinfar showed the sim to a kid today in an interview and might have some insight either way. I haven't reviewed the footage yet myself.

[2019-01-04 23:01] arouinfar commented on #56
The two students I interviewed used Fractions: Mixed Numbers dev.10. They did not spend any meaningful amount of time on the level selection screen, so I cannot speak to how students interpret the icons. They both started with the Level 1 in the top row (building shapes to match the given mixed numbers). After finishing a level, they would click the "Next" button to move onto the next level.

Pers

[2019-01-04 23:03] phet-steele commented on #56
I have a few thoughts about things in life, but I'm assuming you want my thoughts about this issue? 😛

I'd be in favor of switching this back to shapes on top, numbers on bottom.

When I look at the level select, the icons are asking me, "Do you want to practice with shapes?" or "Do you want to practice with numbers?" So I'd assume the version I choose would see me practicing with the icon I see.

[2019-01-04 23:54] KatieWoe opened #62 "No touch screen on undo arrow"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/252, https://github.com/phetsims/QA/issues/253, and https://github.com/phetsims/QA/issues/250
The undo arrow for the number fractions does not respond to the touch screen
**Steps to reproduce:**
1. Go to the lab or game screen and make sure a number fraction bui

[2019-01-05 00:00] KatieWoe commented on #62
Just checked iPad.  This issue makes using the undo button in these situations impossible on iPad

[2019-01-05 01:02] ariel-phet commented on #19
@jonathanolson agreed with @amanda-phet -- if the standard behavior is to have this area pickable, lets make it pickable. Since it shows the hand, it would make sense to make it pickable.

But I agree, we should not be making general changes to AccordionBox. So which ever keeps in line with the current implementation (sounds like keeping the hand in the title bar area AND having that area actually

[2019-01-05 01:04] ariel-phet commented on #56
Appears I have been outvoted, which is fine with me.

@jonathanolson please revert icons back to dev.10 style. This keeps the design the same as with the original sim.

[2019-01-05 01:32] jonathanolson commented on #56
Done in master.

[2019-01-05 01:39] jonathanolson commented on #19
I'm seeing the same behavior on area-builder and balancing-chemical-equations. This could potentially have been a regression in behavior? Checking.

[2019-01-07 16:19] KatieWoe commented on #61
Can also occur in the numerator if trying to put a larger number than the denominator there.  Mixed number only

[2019-01-07 16:56] rea-laura commented on #60
@jonathanolson found this problem again for https://github.com/phetsims/QA/issues/250.

Occurs in Build a Fraction > Build a Fraction > Level 6 (lower level with shapes).
The problem only happens sometimes - most of the time the sim will give a solvable problem, but sometimes loads an unsolvable one.
![32bb65dc-ca7c-4ba4-b7d5-7865591ba4aa](https://user-images.githubusercontent.com/44005544/5078129

[2019-01-07 17:04] rea-laura commented on #60
Found again on https://github.com/phetsims/QA/issues/250

Build a Fraction > Build a Fraction > Level 7 (lower with shapes)

[2019-01-07 18:01] KatieWoe commented on #60
Since this seems to be happening most on Build a Fraction and corresponding Fraction Intro game screens where you are matching the fraction to the shape, I collected some more exact data.  I played each of those 10 levels on Fractions Intro and recorded the possible vs impossible levels
Level: Possible: Impossible
1: 10: 0
2: 10: 0
3: 10: 0
4: 10: 0
5: 10: 0
6: 7: 3
7: 7: 3
8: 10: 0
9: 10: 0
10: 2

[2019-01-07 19:05] rea-laura opened #63 "Inconsistent layering of fraction objects"
<b>Test Device</b>

Leibniz

<b>Operating System</b>

iOS 12.1.1

<b>Browser</b>

Safari

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/251:

Layering of objects is inconsistent when they are dragged over other items or toolbars.

<b>Steps to Reproduce</b>

1) open sim
2) go to equality lab
3) select object from fraction bucket and drag over both left and right toolbars and

[2019-01-07 19:15] KatieWoe opened #64 "Green pie chunk stops rotating"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/251, https://github.com/phetsims/QA/issues/252, https://github.com/phetsims/QA/issues/253
On the first screens of the three sims above, you can drag pieces of the green pie charts towards those graphs.  As you do this the pieces rotate to line up with the orien

[2019-01-07 20:53] ariel-phet commented on #64
@KatieWoe thanks for pointing out...however, I do not think this behavior needs to be changed.

Closing

[2019-01-07 20:53] #64 closed

[2019-01-07 21:32] KatieWoe opened #65 "No reward for beating 10 levels iOS"
Device
iPad (2018)
OS
iOS 12
Browser
Safari
For https://github.com/phetsims/QA/issues/253.  Need to check other sims.
Upon beating Level 10 (and all others before) in Fractions Mixed Numbers (building shapes to match fractions) the sound played and the dialog popped up, but no confetti dropped.  Was in portrait mode at the time.
Edit: Same for other type of game in Fractions Mixed Numbers
Edit 2:

[2019-01-07 21:42] KatieWoe commented on #60
@jonathanolson I believe this is another example.  Found on iPad, Mixed Numbers sim, Level 4, building fractions to match shapes.  https://github.com/phetsims/QA/issues/253
![image from ios](https://user-images.githubusercontent.com/41024075/50795115-70df9b00-128a-11e9-95ee-63c3796cf259.png)

[2019-01-07 22:37] KatieWoe commented on #65
Also in https://github.com/phetsims/QA/issues/252 and https://github.com/phetsims/QA/issues/250
Does not occur when a level is beaten in Fractions: Equality

[2019-01-07 23:05] ariel-phet commented on #65
@jonathanolson - this would certainly be good to fix, but I do not see it as essential for publishing 1.0

Marking `priority:4-low`

[2019-01-07 23:20] KatieWoe opened #66 "View Time Records in game for Fractions: Equality"
I noticed that there doesn't seem to be any record of the time you got on different levels you've already beaten when playing the game in fractions: equality.  This seems a bit odd to me since I think this was possible in other games.  Not necessary, but I thought it might be a good feature to bring up.
For https://github.com/phetsims/QA/issues/251

[2019-01-07 23:35] ariel-phet commented on #66
I believe we had time recorded in a early version of fraction matcher, I will see if I can trace down the published version that had it.

[2019-01-08 00:00] KatieWoe opened #67 "Images in correct bins off center"
**Device**
Chadwick (chromebook)
**OS**
ChromeOS
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/252
Some of the pie shapes are off center in their answer bins.  I will update this issue if I find it in the other sims/with the fractions
**Steps to reproduce**
1. Go to the level and build all the necessary shapes
2. Put them in the answer bins (Don't have to be

[2019-01-08 15:32] KatieWoe opened #68 "Long Strings in Equality game overlap"
When stringTest=long and playing the game, different strings are allowed to overlap.  For https://github.com/phetsims/QA/issues/251
Steps:
1. Turn on the timer to see all strings
2. Select any level

![overlaps](https://user-images.githubusercontent.com/41024075/50840521-efd2e300-131f-11e9-9816-d61722f771e5.PNG)

[2019-01-08 16:00] jonathanolson commented on #68
Should be handled by the above commit.

[2019-01-08 16:15] KatieWoe commented on #67
Update on conditions: Occurred on Win 10 chrome and firefox.  Only seems to occur with the circular shapes, and not rectangular.  Not restricted by level.  Occurs in https://github.com/phetsims/QA/issues/253 and https://github.com/phetsims/QA/issues/250.  Have not seen with fractions or the square pieces.  Dropping the circle off center may help this issue appear.

[2019-01-08 17:02] jonathanolson commented on #50
Implemented in master (also following ExEx behavior that if a collection area is full, dragging something over it will NOT give the incorrect answer noise).

[2019-01-08 17:05] jonathanolson commented on #51
It looks like fraction-matcher code is using non-standard layout bounds. This ideally would be converted to the default, or at least the correct aspect ratio (see https://github.com/phetsims/joist/issues/542).

@ariel-phet should this be updated now, or left for when more matcher work is done?

[2019-01-08 17:07] jonathanolson commented on #65
I was under the impression that this was a desired feature, since the performance of the RewardNode was low. There is code explicitly preventing the RewardNode from showing up on mobile safari.

Should I remove that condition? (It's easy to do)

[2019-01-08 17:09] KatieWoe commented on #65
I wasn't aware that this was intended.  It doesn't bother me, so if this improves performance I don't see a problem.

[2019-01-08 17:09] ariel-phet commented on #67
@jonathanolson would be nice to fix.

[2019-01-08 17:15] ariel-phet commented on #66
@KatieWoe do you mean a time recorded on the level selection screen?

@jonathanolson I believe there is a "best time" option in Vegas that will display best times on the level selection icons. But perhaps that is best to included when we revisit the Fraction Matcher code? Let me know.

[2019-01-08 17:15] KatieWoe commented on #66
@ariel-phet yes that is what I mean.

[2019-01-08 17:16] ariel-phet commented on #65
@KatieWoe @jonathanolson forgot this was intentional. Closing.

[2019-01-08 17:16] #65 closed

[2019-01-08 17:17] ariel-phet commented on #51
@jonathanolson left for when fraction matcher work is done. Marking deferred.

[2019-01-08 17:20] rea-laura opened #69 "Inconsistent bounds for different objects"
<b>Test Device</b>

Jordan

<b>Operating System</b>

macOS Mojave 10.14.2

<b>Browser</b>

Safari

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/250:

Bounds for different objects are inconsistent with each other.

<b>Steps to Reproduce</b>

1) open sim
2) go to Build a Fraction
3) open any level
4) select and drag objects, noting the bounds.
For levels where you build shap

[2019-01-08 17:51] rea-laura opened #70 "Visual distortion/"ghosting" on fractions in Safari"
<b>Test Device</b>

Jordan

<b>Operating System</b>

MacOS 10.14.2

<b>Browser</b>

Safari (not found on any other browsers)

<b>Problem description</b>

For https://github.com/phetsims/QA/issues/250:

small visual distortion when fractions are moved in a certain way.

<b>Steps to Reproduce</b>

1) open sim
2) go to "build a fraction"
3) open any level with a shape icon
4) place a number in the nu

[2019-01-08 18:10] Denz1994 commented on #29
Assigning my self to keep up with responses from REVIEW comments as needed.

[2019-01-08 18:54] jonathanolson commented on #66
Probably best, yes.

[2019-01-08 18:56] ariel-phet commented on #70
@jonathanolson looks like a browser bug to me, and not something I feel needs to be addressed currently. If there is a relevant scenery issue, perhaps tag this issue withing that scenery issue and close this one.

[2019-01-08 18:59] rea-laura commented on #69
Found another case of inconsistent bounds in the "lab" section of the sim:
![kapture 2019-01-08 at 11 54 53](https://user-images.githubusercontent.com/44005544/50852463-d0967e80-133c-11e9-9209-82fa5a1249d6.gif)

[2019-01-08 19:00] ariel-phet commented on #66
OK, marking deferred

[2019-01-08 19:04] jonathanolson commented on #63
Should be fixed with the above commit.

I also included changes so the draggable pieces consistently go in front of basically everything else (in the normal intro, mixed intro and equality-lab variants). @ariel-phet or @amanda-phet can you verify that the visual stacking order in these screens looks good?

[2019-01-08 19:07] ariel-phet commented on #56
Looks good closing

[2019-01-08 19:07] #56 closed

[2019-01-08 19:09] ariel-phet commented on #50
All looking (sounding) good. Closing

[2019-01-08 19:09] #50 closed

[2019-01-08 19:13] jonathanolson commented on #58
Implemented, can you verify?

[2019-01-08 19:18] jonathanolson commented on #53
So to be clear, this would leave fraction-matcher in the same state as it is now, but when the matcher screen is in fractions-equality it would only have "Choose your level!" (instead of the current behavior)?

Also if we're adding this to the newer game screens, I assume you don't want the text sliding left/right when the level icons do?

[2019-01-08 19:21] jonathanolson commented on #60
Would the following solve it?:
[code]

[2019-01-08 19:22] KatieWoe commented on #60
@jonathanolson It would.  Good catch.

[2019-01-08 19:35] jonathanolson commented on #60
Using the following hack code in console to test:

[code]

As expected, numbers level 7 is still failing (has a different root cause of unsolvability).

[2019-01-08 19:43] KatieWoe commented on #58
Confirmed @jonathanolson

[2019-01-08 19:46] KatieWoe commented on #68
Looks good

[2019-01-08 19:47] jonathanolson commented on #60
@ariel-phet and @amanda-phet:

I believe the level 7 numbers design doc has a mistake in the following line:

{1/3, 2/6, 3/9}, {2/3, 4/6, 3/9}, {1/4, 2/8}, {3/4, 6/8}

Instead of 2/3, 4/6, 3/9, I believe it should have 6/9. The resulting unsolvable levels look were resulting from this. Can I get confirmation? (Should be patched with the above commit).

[2019-01-08 19:50] jonathanolson commented on #60
Automated testing is showing 1000 generated challenges of each level are now passing.

@KatieWoe could you spot-check master to ensure levels 6/7/10 are looking solvable in general (should be the only ones affected by the changes).

[2019-01-08 19:50] jonathanolson commented on #58
Thanks!

[2019-01-08 19:50] #58 closed

[2019-01-08 20:01] ariel-phet commented on #63
@jonathanolson that seems appropriate and looks good. I think having the draggable pieces go in front of everything matches expectations and works nicely since in general they animate back to a location so they cannot be left to cover up controls. Closing

[2019-01-08 20:01] #63 closed

[2019-01-08 20:36] KatieWoe commented on #60
Looks good on master

[2019-01-08 20:43] KatieWoe commented on #70
I tried to replicate this for a bit on 10.13 and was unable to

[2019-01-08 20:48] jonathanolson commented on #59
Behavior should be consistent now.

Can you check that mouse/touch handling is working here as expected? I also made a patch for the Lab screen so that the right group is selected when you go into the screen (the home-screen click to go to the Lab screen itself was deselecting the group, and the buttons disappeared).

[2019-01-08 20:51] jonathanolson commented on #47
Yup, I can make that change. Sounds good to me.

[2019-01-08 21:08] jonathanolson commented on #47
Implemented the concept of "go to the next uncompleted level, wrapping if necessary". If we really want the "Next" button to go to the next level instead (e.g. if you completed level 5, go to level 4 and complete it, should it go to 5, or skip to 6?) let me know.

Thoughts?

[2019-01-08 21:15] KatieWoe commented on #59
Looks good on master

[2019-01-08 21:17] jonathanolson commented on #59
Thanks!

[2019-01-08 21:17] #59 closed

[2019-01-09 04:56] jonathanolson commented on #69
I'm actually starting to change my opinion, and may prefer to keep things as-is (or have a good reasoning for the changes) since:

1. I'm not a fan of restricting the dragging more than necessary in general.
2. It is impossible to drop a piece and have it "stay there" unless it's into a group. So if you drop something off screen, it flies back.
3. It looks like there is some interesting potential

[2019-01-09 18:13] ariel-phet commented on #69
@rea-laura thanks for pointing out, but @jonathanolson makes a good point that even if dragged off screen nothing can get lost, and everything appears to be working.

Deciding to keep things as is, since it is working and not really doing any harm. Closing

[2019-01-09 18:13] #69 closed

[2019-01-09 22:44] ariel-phet commented on #53
@jonathanolson yes you are correct when you say:

In addition, I agree, we do not need the text sliding left/right when the level icons slide.

[2019-01-09 22:55] ariel-phet commented on #46
@jonathanolson if possible we should keep consistent with ExEx here. So it sounds like no "next" or "smiley face" will be shown after all levels are completed.

IMO this would refer to all Shape levels or all Number levels independently. So if you complete all shape levels the smiley and next would not appear (to encourage refreshing and further game) play, but the number levels (if all had not be

[2019-01-09 23:56] ariel-phet commented on #43
@jonathanolson I don't think we need to worry about double clicking the refresh button (as @amanda-phet that is very nonstandard usage).

It would be nice to fix @phet-steele (1) observation...if clicking the back arrow and then re-entering a level it would be nice if the visual cues reappeared.

This fix is not a showstopper, if it is complicated or tricky, feel free to defer for after 1.0 public

[2019-01-09 23:59] ariel-phet commented on #55
These are reasonable potential changes, but not for 1.0. Marking deferred for the moment.

[2019-01-10 07:18] jonathanolson commented on #67
Should be fixed in master, can you verify?

[2019-01-10 16:20] KatieWoe commented on #67
Did a couple of levels and didn't see any problems

[2019-01-10 23:14] jonathanolson commented on #19
I've applied a change that I should be safe for all configurations of AccordionBox, where it prevents the expanded title bar from being pickable when the title isn't shown while expanded. It looks like it's required to still be visible (since it needs to be focusable for a11y, as it is the node used for collapsing via keyboard).

@ariel-phet it would probably be good to have the change's safety re

[2019-01-10 23:21] jonathanolson commented on #30
Implemented with the above (fractions-equality repo) commit. Can you see how it looks now?

[2019-01-10 23:23] #41 closed

[2019-01-11 00:32] ariel-phet commented on #19
@jessegreenberg can you take a look at this change? Very high priority as we are trying to get fractions to RC

[2019-01-11 03:03] jonathanolson commented on #43
Implemented (1), can you verify?

[2019-01-11 03:11] jonathanolson commented on #44
Implemented above, can you verify?

[2019-01-11 15:53] KatieWoe commented on #44
This looks good.  I did notice that, when dragging the piece, sometimes any active buttons (the plus and minus, the left and right arrow, and the back arrow) will stay up and sometimes they disappear while dragging.  I can't seem to determine when this occurs and when it doesn't though.

[2019-01-11 17:19] jessegreenberg commented on #19
I can still see similar behavior in balancing-chemical-equations, the collapsed title bar has a cursor even though `options.titleBarExpandCollapse` is false. We would probably need something similar for that option too.
<details>

[code]
</details>

There is a code comment:

I would rather have a better a11y implementation and there are other ways we can do this. Also, the current instrumentation

[2019-01-11 17:45] amanda-phet commented on #30
Looks good to me. Thanks!

[2019-01-11 17:45] #30 closed

[2019-01-11 18:04] amanda-phet commented on #47
@KatieWoe helped me confirm that clicking next on 10 takes you to 1 if it is not complete, but I don't think I like the next button taking you to "the next uncompleted level." You could in theory jump 9 levels, and that seems really strange to me. Happy to hear from others since I can't try it out at the moment, but when I play with dev.17 I don't mind that next might take me to a completed level.

[2019-01-11 19:24] amanda-phet commented on #53
Yes, that is correct.

[2019-01-11 21:19] jessegreenberg commented on #19
@jonathanolson I removed your workaround after https://github.com/phetsims/sun/issues/444, the problem is still fixed. Can you please review?

[2019-01-11 22:32] jonathanolson commented on #19
Loos good to me, thanks!

[2019-01-11 22:32] #19 closed

[2019-01-11 23:38] jonathanolson commented on #62
I have a temporary solution above.

@samreid it ended up that aborting the enter/exit events led to incorrect pointer counting in other components, so that seems like an infeasible solution.

Additionally, since those events DON'T include the full trail when they are fired on ancestors, it was difficult to check.

Temporary workaround reaches into the button to check what pointers are "over" it, a

[2019-01-14 15:17] samreid commented on #62
Why did aborting exit/enter events lead to incorrect pointer counting elsewhere?

I see the proposed solution in GroupNode.  Not sure how it might be generalized to other component types in the general case where a client doesn't know if it will have a button child or not (or how to access it).

I messaged you on Slack about scheduling further discussion.

[2019-01-14 19:41] jonathanolson commented on #53
Should be implemented, does this look good?

[2019-01-14 19:41] jonathanolson commented on #60
I'm assigned. Should I close the issue or keep it open (and unassign), or is there something to do?

[2019-01-14 19:43] jonathanolson commented on #44
Hmm, I'm not seeing what I think you mean. Would you be able to record this behavior?

[2019-01-14 19:46] jonathanolson commented on #70
Doesn't match the behavior of other issues I've experienced before, so I opened https://github.com/phetsims/scenery/issues/923 for this. Closing.

[2019-01-14 19:46] #70 closed

[2019-01-14 19:59] KatieWoe commented on #60
Close if you feel its done.  If you think it will need more testing during rc or next dev test keep open, label appropriately, and link in next test.  Its up to your discretion.  @jonathanolson

[2019-01-14 20:07] KatieWoe commented on #44
@jonathanolson
I think it stays if you've hit the plus/minus sign last, or the arrows, and may disappear otherwise.

![disappearingbuttons](https://user-images.githubusercontent.com/41024075/51138033-52831d80-17fd-11e9-8335-4738d6a4ac0e.gif)

[2019-01-14 20:20] phet-steele commented on #47
👍

[2019-01-14 20:35] phet-steele commented on #46
Lookin' good.

[2019-01-14 20:35] #46 closed

[2019-01-14 20:39] phet-steele commented on #44
That's what I see.

[2019-01-14 20:44] phet-steele commented on #53
This looks fine to me @jonathanolson. But now that I see it, maybe fraction-matcher could just say "Choose Your Level!" without the prefix as well.

[2019-01-14 20:45] phet-steele commented on #53
@amanda-phet different sims have different fonts for this title, just FYI in case you care.

[2019-01-14 21:50] ariel-phet commented on #53
@jonathanolson @phet-steele I don't think we want to touch Fraction Matcher for the moment.

@phet-steele feel free to make a separate "polish" issue regarding fonts. Might wait until after 1.0, but good to note.

Closing

[2019-01-14 21:50] #53 closed

[2019-01-15 03:02] jonathanolson commented on #61
Implemented, can you verify?

[2019-01-15 03:02] jonathanolson commented on #60
Closing, thanks!

[2019-01-15 03:02] #60 closed

[2019-01-15 03:03] jonathanolson commented on #67
Closing, thanks!

[2019-01-15 03:03] #67 closed

[2019-01-15 15:55] KatieWoe commented on #61
Looks good @jonathanolson

[2019-01-15 17:53] ariel-phet commented on #43
@jonathanolson if this is anything but a super quick fix, it is low priority (and not a show stopper at all) for 1.0

[2019-01-15 19:53] jonathanolson commented on #62
The discussed permanent solution committed above (along with handling a few complications that came up). @KatieWoe can you verify this behavior on master?

[2019-01-15 20:13] jonathanolson commented on #43
Should be fixed (was easy), @phet-steele can you verify?

[2019-01-15 20:20] KatieWoe commented on #62
@jonathanolson confirmed

[2019-01-15 21:05] jonathanolson commented on #44
This should be fixed with the above commit. Can you confirm?

[2019-01-15 21:05] jonathanolson commented on #62
Thanks!

[2019-01-15 21:05] #62 closed

[2019-01-15 21:06] jonathanolson commented on #61
Thanks!

[2019-01-15 21:06] #61 closed

[2019-01-15 21:11] jonathanolson commented on #47
Essentially reverted, but to where level 10 will wrap to level 1 (and every other case it will just go to the "next" level).

@phet-steele can you confirm?

[2019-01-15 21:50] jonathanolson opened #72 "Fill out doc/ files"
model.md and the implementation notes are not there currently.

[2019-01-16 15:54] KatieWoe commented on #44
Behavior now seems more consistent on master.  When a piece is dragged from the tool bar the buttons disappear under both circumstances described above.  @jonathanolson

[2019-01-16 17:49] ariel-phet commented on #37
@jonathanolson is also adding @veillette and some of his students where appropriate.

[2019-01-16 19:44] jonathanolson commented on #44
Thanks! I believe that should be everything for this issue, closing.

[2019-01-16 19:44] #44 closed

[2019-01-17 17:02] jonathanolson commented on #37
Assigning to QA so this can be added before publication.

[2019-01-17 23:53] KatieWoe commented on #68
Looks good 1.0.0-rc.1

[2019-01-17 23:53] #68 closed

[2019-01-18 15:54] KatieWoe opened #73 "Equality Game time continues"
For https://github.com/phetsims/QA/issues/260
Something a bit odd I noticed.  Once the game is complete the dialog with your time (and record if it is different) comes up.  However, the timer continues to count up and is still visible.  Minor issue, but I wanted to mention it here.
https://drive.google.com/file/d/113Bnux_u7QSY4jzH8p83Tlhvnew3gyCR/view?usp=sharing

[2019-01-18 17:46] KatieWoe opened #75 "Equality stringTest=long victory dialog and number bar"
For https://github.com/phetsims/QA/issues/260
When stringTest=long, the victory dialog can be wider than the window.  You will likely need to resize the window to see this occur.  It is also visible on the iPad as seen below.  In addition, while the long strings no longer overlap, when the number line to compare to objects appears, it cuts in to part of one of the strings.
![cutoff](https://user-i

[2019-01-18 18:04] KatieWoe opened #76 "Legends Of Learning Icons and Descriptions"
Since the 4 fraction sims are up for RC I made this issue as the sims are not in the LoL Simulations Spreadsheet.  @arouinfar directed me to make a common issue for these sims for LoL icons & descriptions.

[2019-01-18 18:42] KatieWoe opened #77 "Odd show answer vs try again behavior in equality game"
For https://github.com/phetsims/QA/issues/260
Conversation from slack:

Instructions:
1. Go to an easy level of the game and select a piece to be the one to receive the numerous wrong answers.  This is piece "A"
2. Put "A" and a wrong piece as the first answer
3. Select try again and remove "A"
4. Answer correctly with the remaining piece
5. Put "A" with a different wrong piece and repeat up to 5

[2019-01-18 19:30] KatieWoe commented on #47
This seems to be working as described 1.0.0-rc.1

[2019-01-18 19:30] #47 closed

[2019-01-18 20:07] ariel-phet commented on #77
@KatieWoe this is the correct behavior

Basically, once you have put something up on the "pads" on each side and press check, you have used your first "try". You get 2 points for right on the first try, 1 point for correct on the second try. After the second try scoring is reset.

Basically, the "normal" flow is going to be, try a match. Realize something is amiss if wrong, and replace one of the

[2019-01-18 20:13] ariel-phet commented on #75
@jonathanolson the fraction matcher ones can wait, if the reward node dialog is easy to fix go ahead. If anything but a quick fix, please defer until after 1.0.

[2019-01-18 20:15] ariel-phet commented on #73
Deferring until we work on Fraction Matcher (after 1.0 of all these sims are published).

However, does seem worth fixing when we get to Fraction Matcher.

[2019-01-18 20:17] KatieWoe opened #78 "Incorrect answer sound plays when expanding boxes"
For https://github.com/phetsims/QA/issues/259, https://github.com/phetsims/QA/issues/261, and https://github.com/phetsims/QA/issues/262.
If you press the + sign to add a box to add shapes to in a game while the boxes are close to the answer containers, the boing sound will play and the boxes move to the center, as if a wrong answer was given.  Likely low priority.
https://drive.google.com/file/d/1

[2019-01-18 21:43] KatieWoe opened #79 "Can't drag empty fractions by line"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/261, https://github.com/phetsims/QA/issues/262, and https://github.com/phetsims/QA/issues/259
It is not possible to drag the number fraction builders by their line, either with mouse or touch.  Anywhere else within the pointer area will work.  Likely a minor iss

[2019-01-21 19:35] ariel-phet commented on #79
@jonathanolson seems worthy of fixing for a better UX if easy to do.

[2019-01-21 19:38] ariel-phet commented on #78
@jonathanolson deferring for after 1.0 is published. I am guessing this will be a little bit involved to address since I would assume some logic would need to be added to identify that an additional container had been added, recenter the boxes, but recognize the user was likely not intentionally trying to add to a collection box.

[2019-01-22 16:43] jonathanolson commented on #79
Patched in master and on the release branches. @KatieWoe can you verify? (Everywhere in the mouse/touch area should now work to drag it, the gaps between rectangles were also problematic before)

-Jonathan Olson

[2019-01-22 16:44] jonathanolson commented on #43
@ariel-phet or @amanda-phet, is there a problem with this?

[2019-01-22 16:45] KatieWoe commented on #79
@jonathanolson Confirmed on master (tested on Build a Fraction Lab screen)

[2019-01-22 18:15] jonathanolson commented on #75
The "My Matches" and level complete node maxWidths were adjusted (master and on RC branches).

@KatieWoe can you check the behavior on master?

[2019-01-22 19:20] jonathanolson commented on #43
Closing, thanks!

[2019-01-24 18:58] JRomero0613 opened #81 "Equality Lab Firefox Issues"
**Test Device:**
Magnus
**OS:**
10.11.6
**Browser:**
Firefox 64.0.2
**Problem Description:**
For https://github.com/phetsims/QA/issues/260 when on the equality lab screen of Fractions: Equality the denominator can be changed to seven and zero. When holding down the arrow key to increase the denominator, the denominator will increase past six to seven, likewise for decreasing past one to zero. The

[2019-01-24 19:07] rea-laura opened #82 "Sound sometimes gone in full-screen on Safari"
<b>Test Device</b>

Dirac

<b>Operating System</b>

MacOS 10.12.6

<b>Browser</b>

Safari 12.0.2

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/259
Sound sometimes disappears in full-screen mode. May be related to https://github.com/phetsims/resistance-in-a-wire/issues/190, but happens much more frequently than I observed in resistance in a wire, and is seen in the original

[2019-01-24 19:49] ariel-phet commented on #82
We will investigate after 1.0 is published, not a blocking issue

[2019-01-24 23:03] KatieWoe commented on #81
Have managed to reproduce 10.14.3 firefox.  Only just after refreshing and after while it got harder, possibly due to caching.  Did not have the grayed out buttons, but I may have misunderstood the steps.

[2019-01-24 23:11] KatieWoe commented on #81
Haven't reproduced using similar tools in the other sims, but I wouldn't necessarily rule it out.

[2019-01-24 23:12] ariel-phet commented on #81
@jonathanolson this seemed difficult to reproduce and rare (I watched @KatieWoe)

This bug is definitely not a showstopper for 1.0. If it is an easy fix (in the 10 or 15 minute range) feel free to fix. If not, please mark deferred and we will fix after 1.0 is published.

[2019-01-24 23:42] KatieWoe commented on #81
Replicated at least once on Win 10 firefox.

[2019-01-25 18:36] jonathanolson commented on #81
Added a patch that should hopefully prevent this (and pushed it to the RC branches).

@KatieWoe can you see if this makes it impossible for the given bug to occur?

[2019-01-28 19:01] KatieWoe opened #83 "Edge browser: parts of sim disappear briefly"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
Found on https://github.com/phetsims/QA/issues/269.  Behavior was similar to https://github.com/phetsims/energy-forms-and-changes/issues/203.
May be in the other three sims as well.
When playing Level 3 building shapes in the Build a Fraction game screen, a large chunk of the middle of the screen turned t

[2019-01-28 19:43] KatieWoe commented on #79
1.0.0-rc.2 looks clear

[2019-01-28 19:43] #79 closed

[2019-01-28 20:01] KatieWoe commented on #81
1.0.0-rc.2 unable to reproduce on this version.  Will still keep an eye out for it and would like @JRomero0613 to take a look if he has the chance, since I was unable to reproduce some of the effects he saw.

[2019-01-28 20:32] KatieWoe commented on #75
1.0.0-rc.2 looks good

[2019-01-28 20:32] #75 closed

[2019-01-29 17:48] KatieWoe commented on #37
QA for all add (if not there already): Steele, Laura, Jacob, Liam, Megan, Kelly, and myself

[2019-01-29 17:57] #77 closed

[2019-01-29 18:02] amanda-phet commented on #81
@KatieWoe since QA testing is done, can this issue be closed?

[2019-01-29 18:32] jonathanolson commented on #37
QA credits fixes pushed, applied to release branches, and deployed.

[2019-01-29 18:32] #37 closed

[2019-01-29 18:44] #81 closed

[2019-01-30 16:56] jbphet commented on #82
This is almost certainly due to the same problem seen in https://github.com/phetsims/resistance-in-a-wire/issues/190 where the audio context goes into an "interrupted" state.  The Fractions sim uses the older vibe library, this probably should go away when we port it to use tambo, see https://github.com/phetsims/vibe/issues/33.

[2019-02-16 18:44] pixelzoom opened #84 "CT: Cannot read property 'spotProperty' of undefined"
fraction-matcher and fractions-equality have been failing CT regularly for at least the past few days with this sequence of errors. Assigning to @ariel-phet to prioritize.

[code]

[2019-02-16 18:48] pixelzoom opened #85 "CT: memory limit exceeded"
build-a-fraction, fractions-intro, and fractions-mixed-numbers have been intermittently exceeding memory limits for at least the past few days.   I suspect that the other sims in the Fractions suite would be exceeding this limit too if they weren't failing because of #84.   Surprising since this is a very extreme memory limit, and this suite was published fairly recently.  Assigning to @ariel-phet

[2019-02-18 19:23] ariel-phet commented on #84
@jonathanolson has been working on these sims (refactoring fraction matcher and making improvements, so a leak might have been introduced).

[2019-02-20 23:26] jonathanolson commented on #84
This issue should be handled by the above fix. There are definitely memory issues, which I'll continue to track in https://github.com/phetsims/fractions-common/issues/85. Thanks!

[2019-02-20 23:26] #84 closed

[2019-02-21 17:47] jonathanolson opened #86 "Can I adjust matcher target equals sign positions?"
The old (and current) behavior for the targets has the equals sign in the center of the targets:

<img width="594" alt="screen shot 2019-02-21 at 10 45 42 am" src="https://user-images.githubusercontent.com/480878/53190015-fd89b280-35c5-11e9-9611-530ec244e27d.png">

I'd prefer to have the equals sign be centered between the two fraction pieces (same padding on the left and right). Would that be acc

[2019-02-21 17:47] jonathanolson commented on #86
(So the equals sign would shift slightly towards the numeric fractions in general, since they are less wide)

[2019-02-21 18:03] amanda-phet commented on #86
I agree that would look better.

[2019-02-21 18:13] jonathanolson commented on #85
The above commit should handle leaks for the matcher portions.

I'll test again in require.js mode to see if there is actually a leak for the others, or whether they just can use a lot of memory once everything is used/initialized.

[2019-02-21 18:25] jonathanolson commented on #86
Implemented above, should now look like:

<img width="684" alt="screen shot 2019-02-21 at 11 23 24 am" src="https://user-images.githubusercontent.com/480878/53192287-53ad2480-35cb-11e9-9f5e-d2e722d804ca.png">

[2019-02-21 18:25] #86 closed

[2019-02-21 18:26] amanda-phet commented on #86
I like it!

I think that since these equations aren't stacked vertically, you don't even notice the alignment of the equal sign.

[2019-02-21 18:26] jonathanolson commented on #34
There is a button that, if both scales are empty, does this. Closing.

[2019-02-21 18:26] #34 closed

[2019-02-21 18:27] jonathanolson commented on #51
The sizes should now be consistent, since fraction-matcher/etc. is now using the standard layout bounds. Can you verify?

[2019-02-21 20:02] jonathanolson opened #87 "Improve layout of matching pieces on scales"
Certain representations don't sit well:

<img width="246" alt="screen shot 2019-02-21 at 1 01 35 pm" src="https://user-images.githubusercontent.com/480878/53198122-df797d80-35d8-11e9-90b1-3a271404199d.png">

So there probably needs to either be a "rest on the bottom of bounds", or custom offsets for each.

[2019-02-21 20:26] jonathanolson commented on #87
Based off the bottom of the bounds generally works well, although cases like this might need tweaks:

<img width="222" alt="screen shot 2019-02-21 at 1 25 52 pm" src="https://user-images.githubusercontent.com/480878/53199420-4482a280-35dc-11e9-87b7-e5b49a9ae825.png">

[2019-02-21 20:29] jonathanolson commented on #87
https://phet-dev.colorado.edu/html/fraction-matcher/1.2.0-dev.8/phet/fraction-matcher_en_phet.html shows the new scale positioning.

@ariel-phet and @amanda-phet how does this look?

[2019-02-21 21:30] jonathanolson commented on #85
Still trying to figure out the memory issue. It may be likely that running headless on bayes, it may not be GC'ing as often (instead building up "dead" objects in the heap), and that may be running over the limit.

[2019-02-25 18:05] phet-steele commented on #51
@jonathanolson the sizes are now correct, but fraction-equality has the Reset All button in two different places between its screens.

[2019-02-25 19:37] jonathanolson commented on #51
@ariel-phet mind if I tweak the spacing for the matching screens to match the others (as far as the reset-all is concerned)?

[2019-02-26 23:04] ariel-phet commented on #51
@jonathanolson feel free to tweak spacing so it matches

[2019-02-27 07:51] jonathanolson commented on #51
@phet-steele this should be handled in master. Can you verify?

[2019-02-27 19:51] jonathanolson opened #88 "Triggering a rebuild of a matcher level breaks scale positions"
<img width="649" alt="screen shot 2019-02-27 at 12 50 27 pm" src="https://user-images.githubusercontent.com/480878/53518454-4cd05700-3a8e-11e9-8ce7-9f0e1d4be093.png">

[2019-02-27 19:59] jonathanolson opened #89 "Increase the stroke for pieces in the matcher screens slightly"
Default was 2 * 0.7, ideal was 3 * 0.7.

[2019-02-27 21:49] #89 closed

[2019-02-27 21:58] #88 closed

[2019-02-28 20:08] amanda-phet commented on #87
Aligning the base of the shapes is looking good to me. The only odd case I noticed is this one, beacuse the shape hangs off the sides a bit. In particular on the right. But I don't think a vertical shift would help, and am fine with this case, just wanted to document it. It's about getting the idea that the shape is on a scale, and this still works.

<img width="155" alt="screen shot 2019-02-28 at

[2019-02-28 20:09] amanda-phet commented on #87
@ariel-phet feel free to close if it looks good to you.

[2019-03-04 22:07] ariel-phet commented on #87
Current state on Master is looking pretty good. Closing

[2019-03-04 22:07] #87 closed

[2019-03-06 16:41] KatieWoe opened #90 "Reset All does not reset points, time, or levels"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/294
Hitting the orange reset all button only resets the sound and activation of the timer.  Nothing else is reset.
**Steps to reproduce:**
1. Complete a level with time activated
2. Go into another level to examine the set up (what pieces are there) and leave
3.

[2019-03-06 17:03] KatieWoe opened #91 "Your new best message given when time is worse"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/294
After beating a level with timer on it seems that it will always read "Your new best" under the time, even when the time is worse than a previous attempt.
**Steps to reproduce:**
1. Turn the timer on
2. Select a level and beat it in a reasonable time
3. Sele

[2019-03-06 17:25] KatieWoe opened #92 "Time of worse run recorded"
For https://github.com/phetsims/QA/issues/294
I'm not completely sure if this is a bug, but it is different from other games and it seems wrong to me.  If you beat a level quickly, but with wrong answers, the time is recorded on the level select page.  If you then beat the same level again with a slower time but all correct answers the time on the level select page is the faster time, though the s

[2019-03-06 18:44] jonathanolson commented on #92
@amanda-phet when should a "best time" be recorded? I haven't really done that feature for games before.

[2019-03-06 19:58] KatieWoe commented on #73
Happens in https://github.com/phetsims/QA/issues/294

[2019-03-06 20:18] KatieWoe opened #93 "Back arrow and refresh button clickable when dialog up"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/294
When the end of dialog is up, normally any buttons behind are made unclickable.  This is not the case here as you can hit the back arrow and the refresh button.  This can lead to an odd connected bug.  When you click the continue button and return to the lev

[2019-03-06 21:02] amanda-phet commented on #92
Aside: We REALLY need to have a sim design meeting about vegas. These game mechanics are all over the place and I can't keep track of it all.

My understanding of times is that the time is only shown for a perfect score. I don't remember making a decision to post the time to the level selection screen for this sim, and it's not in the currently published sim. (But, why record time if it won't be p

[2019-03-06 21:45] KatieWoe opened #94 "Should this be title case or sentence case"
From https://github.com/phetsims/QA/issues/294
Discussed with @amanda-phet on slack.  Headings on game screens tend to be inconsistent across sims.  Should this be adressed?  How?

Arithmetic
![titlecasearithmetic](https://user-images.githubusercontent.com/41024075/53915882-0d6db180-401e-11e9-807a-636966740fa9.jpg)
Graphing Lines
![titlecasegraphinglines](https://user-images.githubusercontent.com/

[2019-03-06 22:47] KatieWoe opened #95 "Two is displayed as 2 0/3"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/294
On the published version of Fraction Matcher, the number two is displayed as 2.  In the dev version it is displayed as 2 0/3 or something similar.  This does not cause any problems with completing the level, but it looks quite odd.
**Steps to reproduce:**
1

[2019-03-06 22:48] amanda-phet commented on #95
We should not be showing the fraction if 0 is in the numerator.

[2019-03-06 23:11] KatieWoe commented on #83
This is happening in https://github.com/phetsims/QA/issues/294

[2019-03-06 23:20] KatieWoe commented on #83
For Fraction Matcher dev test, I'm not sure if its the background color, the frequency, the fact I haven't seen the bug in awhile, or what, but it seems more jarring and almost headache inducing there.

[2019-03-06 23:35] KatieWoe opened #96 "Possible Issue with show answers"
For https://github.com/phetsims/QA/issues/294
While playing the sim on IE, I got a question wrong twice, but hitting the show answer button did nothing.  I was unable to drag any pieces either.  The button looked depressed, but didn't trigger any action.  I haven't been able to reproduce so far, so I don't know if it was IE specific or not.

[2019-03-06 23:50] lmulhall-phet commented on #95
I've seen the number 1 being displayed as 1/1 in 1.2.0-dev.10.

[2019-03-06 23:51] KatieWoe opened #97 "Mute button doesn't carry over"
For https://github.com/phetsims/QA/issues/294
When you press the mute button on the published Fraction Matcher it is muted (or unmuted) on both pages.  In the dev test it only effects the page it is pressed on.  This second behavior is the behavior of the timer button in both versions.
![soundthing](https://user-images.githubusercontent.com/41024075/53922034-0059be00-4030-11e9-9fb8-f3d1fe7a11c2.gi

[2019-03-07 00:09] lmulhall-phet opened #98 "Smiley Face When Both Attempts Wrong"
For https://github.com/phetsims/QA/issues/294.

Seen on Windows 10 + FF, but it happens on other platforms.

Happens on both screens.

[2019-03-07 00:27] lmulhall-phet opened #99 "Nothing Happens When Show Answer Button Clicked"
For https://github.com/phetsims/QA/issues/294.

Seen on Windows 10 + Edge.

I got this to happen by repeatedly putting in wrong answers. At one point the Show Answers button could be clicked, but nothing happened.

When this happens, the fractions are not clickable.

[2019-03-07 00:34] lmulhall-phet opened #100 "My Matches too cramped?"
For https://github.com/phetsims/QA/issues/294.

![issue](https://user-images.githubusercontent.com/31285590/53923577-05217080-4036-11e9-900d-7d048bb3d924.PNG)

Seen on Windows 10 + FF.

Looks bad to me.

[2019-03-07 00:46] lmulhall-phet commented on #100
![issue2](https://user-images.githubusercontent.com/31285590/53924063-c1c80180-4037-11e9-93ea-e8ebdccecfa7.PNG)

[2019-03-07 15:40] KatieWoe commented on #96
Linking to https://github.com/phetsims/fractions-common/issues/98 and https://github.com/phetsims/fractions-common/issues/99

[2019-03-07 15:40] KatieWoe commented on #99
Linking to https://github.com/phetsims/fractions-common/issues/96

[2019-03-07 15:45] KatieWoe commented on #98
Good catch @lmulhall-phet
Here is a clip showing this happen:
![smiles](https://user-images.githubusercontent.com/41024075/53969047-50c72f00-40b5-11e9-8773-038b42f0880b.gif)
No smiley shows up in this case on the published version

[2019-03-07 16:03] jonathanolson commented on #90
Should be fixed in master, can you verify?

[2019-03-07 16:10] KatieWoe commented on #90
This does seem fixed on master @jonathanolson

[2019-03-07 16:17] jonathanolson commented on #98
Should be fixed in master, can you verify?

[2019-03-07 16:17] jonathanolson commented on #90
Thanks!

[2019-03-07 16:17] #90 closed

[2019-03-07 16:26] KatieWoe commented on #96
Had this happen in google chrome, so not platform specific.  Seems to be random when it happens

[2019-03-07 16:27] KatieWoe commented on #99
Had this happen in google chrome, so not platform specific.  Seems to be random when it happens

[2019-03-07 16:31] KatieWoe commented on #98
Looks fixed on master

[2019-03-07 16:48] KatieWoe opened #101 "Try Again button stays up when a new answer is given"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/294
In the publishe version of the sim and Fractions Equality, when you get a problem wrong the first time a try again button pops up.  If, instead of pressing it, you drag a new piece up it behaves as if you did press the button and gives you a new check button

[2019-03-07 16:56] jonathanolson commented on #98
Thanks!

[2019-03-07 16:56] #98 closed

[2019-03-07 18:03] KatieWoe opened #102 "Size and placement issues of pointer areas"
For https://github.com/phetsims/QA/issues/294
I noticed on iPad that if you try to press the top of one of the levels on the bottom row, sometimes you'd go to the wrong level.  I checked pointer areas and saw that they extend far bellow the actual button, and if you press just above the intended button, you can hit the wrong thing by accident.
I also noticed the the touch area for the sound button

[2019-03-07 18:44] amanda-phet commented on #102
I agree that these touch areas need to be revised. @jonathanolson can you adjust the areas for the level selection buttons to be the actual button? I don't think they need to be larger since these buttons are already large.

Also, please adjust the timer/sound touch areas to be consistent.

[2019-03-07 18:52] amanda-phet commented on #100
Seems related to https://github.com/phetsims/fractions-common/issues/86.

@jonathanolson can you tweak the spacing some more for these extra wide challenges? Maybe the spacing between the equal sign and edges of the container should be the same, so they might be small but at least will be equally small?

[2019-03-07 20:01] KatieWoe commented on #99
Happens on a Mac as well, so not just Windows

[2019-03-07 20:24] KatieWoe opened #103 "Pieces don't spread out"
For https://github.com/phetsims/QA/issues/294
I noticed some differences in what types of shapes show up in the dev est compared to the published version.  For one, the pieces don't spread out anymore like they do in the circled image below.  The boxes with a large number of partitions also don't seem to show up as much if at all.
![nomorespaces](https://user-images.githubusercontent.com/41024075/

[2019-03-07 20:43] jonathanolson commented on #103
When working with @ariel-phet, the order the shapes are filled in was changed to be more standard. Some partition shapes were limited.

However, I just noticed that I don't think the "random fill" levels are working properly, so I'm going to look into that.

[2019-03-07 20:51] jonathanolson commented on #103
I believe horizontal/vertical bars are limited at 6 right now, and the plus signs / diagonal Ls were given minimums, which should be a change from the original sim's distribution.

I applied a fix above so that both the "mixed" fill type (left shape is full, right is random) and "random" fill type (both left and right are random) are used.

Thanks!

[2019-03-07 20:51] #103 closed

[2019-03-07 21:18] amanda-phet commented on #97
@KatieWoe what is the question?

[2019-03-07 21:23] KatieWoe commented on #97
Should the status of mute/unmute carry over between screens?  Should the timer?

[2019-03-07 21:32] amanda-phet commented on #97
Seems to me that the buttons would be screen-specific, and if we wanted something for the entire sim we'd have that mute button in the nav bar.

I bet you're thinking it would make sense that if someone wants sound off, they want it off on both screens, but I'd prefer to use a better universal control for that.

@ariel-phet is the navbar sound control only an option for some sims?

[2019-03-08 00:22] amanda-phet commented on #94
These should be title case (Choose Your Level!).

I just reviewed a number of games and the majority use title case, so that should be our standard.

@jonathanolson can you change the casing for all of the game screens, even though Fraction Matcher is the only one being republished right now?

[2019-03-21 16:16] ariel-phet commented on #97
@amanda-phet I think that sound control in the navbar can be used in any sim (but has only been used in sims with sounds for a11y so far so those often also have the "enhanced" sound option in the menu). I would be fine with it being used here. That may require one minor change (converting this sim to Tambo from Vibe if not already done). Your call.

[2019-03-21 16:16] amanda-phet commented on #101
I just noticed this as well. Ideally, if you drag up a new fraction without pressing try again, you should be prompted to check.

[2019-04-02 15:14] jonathanolson commented on #102
Done in the above commit.

[2019-04-02 15:14] #102 closed

[2019-04-02 15:29] jonathanolson commented on #101
Implemented above, can you verify?

[2019-04-02 15:35] KatieWoe commented on #101
Looks solved on master

[2019-04-02 16:53] jonathanolson commented on #100
Also noticed that we don't have much room when both use the largest representation:

<img width="186" alt="Screen Shot 2019-04-02 at 10 52 47 AM" src="https://user-images.githubusercontent.com/480878/55421013-897fea00-5535-11e9-8dac-923e3930101e.png">

@ariel-phet or @amanda-phet, should any layout/sizing changes be made to compensate? This doesn't come up much naturally, but it did happen.

[2019-04-02 16:59] jonathanolson commented on #100
Implemented. Also note that this puts the equals sign a bit off-center in common cases, e.g.:

<img width="176" alt="Screen Shot 2019-04-02 at 10 56 45 AM" src="https://user-images.githubusercontent.com/480878/55421304-2fcbef80-5536-11e9-9ed7-b14eae9780d2.png">
<img width="177" alt="Screen Shot 2019-04-02 at 10 56 58 AM" src="https://user-images.githubusercontent.com/480878/55421305-2fcbef80-5536-

[2019-04-02 17:00] jonathanolson commented on #101
Thanks!

[2019-04-02 17:00] #101 closed

[2019-04-02 17:25] jonathanolson commented on #99
Should be fixed in master. Do you feel it is best to proactively check this, or just see if it happens during the next other testing?

[2019-04-02 17:27] KatieWoe commented on #99
I can check on master, but since it was semi random as to when it happened it should still be checked in the next round of testing, just in case it slips through somehow.

[2019-04-02 17:27] jonathanolson commented on #96
Likely resolved by https://github.com/phetsims/fractions-common/issues/99.

[2019-04-02 17:29] jonathanolson commented on #99
For reference, the bug that I know happened was when the piece that would stay on a scale (e.g. 1/2) and all the "matching" pieces below are different multiples (e.g. 2/4 below). It used the improper equality check, so it wouldn't pull out the 2/4 up to the scale.

[2019-04-02 17:31] KatieWoe commented on #99
That's great.  Thanks for the clarification

[2019-04-02 17:33] jonathanolson commented on #95
Should be displayed without the (0/x) on the "mixed" screens, and displayed as an improper fraction (e.g. 1/1, 2/1) on the "unmixed" screens.

[2019-04-02 17:33] jonathanolson commented on #95
I believe this is fixed in the above commit, can you verify?

[2019-04-02 17:36] KatieWoe commented on #95
@jonathanolson so for clarification, does that mean that https://github.com/phetsims/fractions-common/issues/95#issuecomment-470324237 is not a bug?

[2019-04-02 17:38] jonathanolson commented on #94
Area Model doesn't have a title prompt. Should it have one for consistency?

[2019-04-02 17:38] jonathanolson commented on #94
Equality Explorer has "Solve for x" (uncapitalized 'for'). Should that change?

[2019-04-02 17:40] jonathanolson commented on #94
Checked over everything else with level-selection screens to make sure things were capitalized correctly (with the above questions as the only exceptions).

[2019-04-02 18:05] KatieWoe commented on #51
Fraction comparison is much larger, but I don't know if it counts.  All the others seem appropriately sized on master.

[2019-04-02 18:09] jonathanolson commented on #95
I believe so. @amanda-phet can you verify?

[2019-04-02 18:10] KatieWoe commented on #99
The issue as described seems solved on master.  It should still be looked out for in the next round of testing in case there was an extra cause of some kind.

[2019-04-02 18:14] KatieWoe commented on #95
It looks like what @jonathanolson describes on master.  @amanda-phet to confirm if this is the desired behavior.

[2019-04-02 18:38] jonathanolson commented on #93
Checked for a good example to work from. expression-exchange actually has clickable buttons in front:

<img width="1300" alt="Screen Shot 2019-04-02 at 12 22 52 PM" src="https://user-images.githubusercontent.com/480878/55426448-0fa22d80-5542-11e9-8b11-139d3fde33f5.png">

Area Model and BCE seem to remove the content behind when showing the reward.

@amanda-phet or @ariel-phet, should we consider o

[2019-04-02 18:41] jonathanolson commented on #99
Sounds good, marking as fixed-pending-testing.

[2019-04-04 15:11] jonathanolson commented on #92
Only recording the score for perfect runs now.

[2019-04-04 15:11] #92 closed

[2019-04-04 17:43] jonathanolson commented on #51
Fraction Comparison doesn't use the fractions-common code (and I'm unfamiliar with it). @ariel-phet should I look into patching button sizes on that sim?

[2019-04-08 19:56] amanda-phet commented on #100
I don't mind the off-center equal sign since the matches are always listed horizontally.

I am not sure what to do about that really cramped case... My only thought is to make them smaller.

[2019-04-08 19:58] amanda-phet commented on #94
I meant all game screens in fractions-common. I can make a separate issue for area-model-common.

Thanks!

[2019-04-08 19:59] #94 closed

[2019-04-08 20:10] amanda-phet commented on #95
Both screens in Fraction Matcher look correct to me. Thanks for finding and fixing this!

[2019-04-08 20:10] #95 closed

[2019-04-08 20:31] amanda-phet commented on #93
This seems consistent with the other game screens (see https://github.com/phetsims/fractions-common/issues/7 for extra context).

[2019-04-08 20:34] amanda-phet commented on #93
@KatieWoe can you do a comparison of this game and the build-a-fraction style games? I think in the BAF games, you can click back, but you can later return to a completed level and not lose your work. In FM games, you click back, but if you return to a level your progress is cleared.

[2019-04-08 20:45] KatieWoe commented on #93
It does behave as you describe in BAF games.  I brought this issue up because the published version disables the back button in this situation.

[2019-04-08 20:53] amanda-phet commented on #93
Since this seems to be consistent with fractions-common I am OK with the behavior as it is.

@jonathanolson I agree that in ExEx the button layering makes more sense, so if you can move the buttons in front of the reward node I think that will work well.

[2019-04-23 01:49] ariel-phet commented on #51
@jonathanolson no... the fraction comparisons sim is from long ago, and not schedule to be worked on any time in the near future. If we do eventually work on it, we will move it to the fractions-common code.

The button size look good, however, on Fractions: Intro, the reset all button jumps around in placement between screens a bit, and it is "floating" on the Lab screen

Can you make the positio

[2019-04-23 01:52] ariel-phet commented on #100
@jonathanolson I am also not bothered by the off center equal sign...

For the cramped case, I think making them smaller is fine. The point of the matches is to see that have you have completed them and have a reasonable idea of what they were. Having them be a bit small is acceptable since the matches are no longer central to the game play.

[2019-04-23 01:54] ariel-phet commented on #93
+1 for going with the ExEx button layering if possible.

[2019-04-23 16:02] jonathanolson commented on #100
I can adjust the scale so that it ensures whatever minimum level of padding.

The bare minimum to ensure nothing overlaps looks like:

<img width="159" alt="Screen Shot 2019-04-23 at 9 59 53 AM" src="https://user-images.githubusercontent.com/480878/56596938-b3658300-65ae-11e9-875e-10bd89df0f46.png">

But I also noticed that this happens in the bottom zone randomly sometimes:

<img width="311" alt=

[2019-04-23 17:20] jonathanolson commented on #93
The reward now should be in the background, and the timer will stop increasing once all of the targets are filled.

Something that seems a bit inconsistent (which I'd like to resolve, but I'm not sure what is best): If you hit "continue" after completing a level, visiting the same level afterwards shows a regenerated challenge. However if you just hit the "return" button, visiting the same level w

[2019-04-23 17:37] phet-steele commented on #93
It would be a HECK of a lot more consistent with other PhET games of this type, and with the published version, to show a regenerated challenge upon return to a level.

[2019-04-23 17:47] jonathanolson commented on #91
This should be fixed. @KatieWoe can you verify?

[2019-04-23 17:55] jonathanolson commented on #85
Memory is looking stable on those sims now. Maybe it's due to fixed issues, or possibly https://github.com/phetsims/aqua/issues/49 (results collected for the wrong repo). Closing.

[2019-04-23 17:55] #85 closed

[2019-04-23 18:15] KatieWoe commented on #93
@jonathanolson this behavior looks rather off to me.  I'd like @amanda-phet to weigh in on it before moving on with it.
![fallingbehind](https://user-images.githubusercontent.com/41024075/56605475-7f478d80-65c1-11e9-996b-3ca7a51d4528.gif)

[2019-04-23 18:32] KatieWoe commented on #91
The above issue is solved in master.  However, I noticed that hitting the reset all button doesn't wipe the previous record in the blue victory dialog.  It resets in the level select screen, but if you get a worse time in a level after reset all, the blue dialog treats it as if the old record still stands.
![victorydoesntreset](https://user-images.githubusercontent.com/41024075/56606621-e0706080-6

[2019-04-23 18:35] amanda-phet commented on #100
Thanks for finding this. Yes, we should slightly increase the padding. Even when there aren't two diamond shapes next to each other it looks strange.
![image](https://user-images.githubusercontent.com/7852916/56606768-3218eb00-65c4-11e9-92dc-22864238e367.png)

[2019-04-23 19:39] amanda-phet commented on #93
I agree with @KatieWoe that it looks a little strange, especially since the stuff layered in front isn't all interactive. But I think having the buttons layered in front (since they are interactive) is a priority. @ariel-phet ideas here?

This is not good. Whether you hit continue or back, then return to the level, the level should show a refreshed set of challenges. This is most consistent with a

[2019-04-23 19:46] jonathanolson commented on #93
It does look a bit strange, but is also consistent with Expression Exchange (reward is behind all of the collection areas).

The code responsible seems to control all games of this type (A.5?)

I'll have it force refreshing of the challenge when opening it.

[2019-04-23 20:03] jonathanolson commented on #93
Back button will now also refresh a fully-completed challenge.

Anything else to do here?

[2019-04-23 20:08] jonathanolson commented on #100
Increased padding slightly now, so we have:

<img width="151" alt="Screen Shot 2019-04-23 at 2 06 52 PM" src="https://user-images.githubusercontent.com/480878/56612262-24b62d80-65d1-11e9-8667-167cf3ee385d.png">
<img width="150" alt="Screen Shot 2019-04-23 at 2 06 41 PM" src="https://user-images.githubusercontent.com/480878/56612274-297ae180-65d1-11e9-8468-98d520b8cec2.png">

Let me know if it need

[2019-04-23 20:13] jonathanolson commented on #91
Nice find! I believe the above patch should fix that, can you verify?

[2019-04-23 20:29] KatieWoe commented on #91
@jonathanolson Looks good.  Didn't see any problems on master.

[2019-04-24 17:56] amanda-phet commented on #93
I don't think so! Thank you!

[2019-04-24 17:56] #93 closed

[2019-04-24 17:57] amanda-phet commented on #100
Looks great. Thank you!

[2019-04-24 17:57] #100 closed

[2019-05-06 19:03] KatieWoe commented on #96
They seem to be duplicates, so I'm unassigning and closing

[2019-05-06 19:03] #96 closed

[2019-05-06 20:53] ariel-phet commented on #83
@KatieWoe can you retest this on the dev version of Edge? If it is fixed, can you mark this issue `wontfix` and close. If it is still present, please reassign to me.

[2019-05-06 21:20] KatieWoe commented on #83
@ariel-phet did a pretty long check of Build a Fraction, and a shorter check of Fraction Matcher.  Didn't see anything on Dev Edge.  However, I also did a quick check of both on published Edge and didn't really see it there either.  Not sure what's going on there.  Up to you if you want to close.

[2019-05-10 16:50] ariel-phet commented on #83
@KatieWoe closing

[2019-05-10 16:50] #83 closed

[2019-05-23 16:17] jonathanolson commented on #91
Thanks!

[2019-05-23 16:17] #91 closed

[2019-05-23 16:19] amanda-phet commented on #76
These are done.

[2019-05-23 16:19] #76 closed

[2019-05-29 22:58] jonathanolson commented on #97
Looks like the plan is for @jbphet to move GameAudioPlayer over to tambo. I'll be available to assist.

[2019-05-29 23:06] jonathanolson commented on #51
For the layout of the reset-all button:

1. The Lab screen uses dynamic layout, so it's tricky to adjust its position if the sim is width-limited. If it's height-limited, it should be possible to have it be in the "same" position. But for the example below, do you want the reset-all button to be floating above the bottom panel?

![area-dynamic](https://user-images.githubusercontent.com/480878/5859

[2019-06-03 22:22] jonathanolson commented on #51
I'll change alignments on the 2nd screen, and have the reset-all button not float right when vertically constrained on the 3rd screen.

[2019-06-04 17:22] jonathanolson commented on #51
Done above. @ariel-phet can you see how this looks?

[2019-06-04 20:12] jonathanolson commented on #97
@jbphet took care of the main work today, and I switched things over on the sim side. This removes all of the sound buttons from the fractions suite, replaced with the navbar button.

[2019-06-04 20:12] #97 closed

[2019-06-05 00:46] ariel-phet commented on #51
Looking good, closing

[2019-06-05 00:46] #51 closed

[2019-06-06 19:25] KatieWoe opened #104 "Best time can be recorded incorrectly"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/336 and https://github.com/phetsims/QA/issues/337
When you complete a level but get it partly wrong, it should tell you your time, but not consider it for a record.  If you complete a level wrong first, this happens.  However, if you complete a level that you pr

[2019-06-06 20:39] KatieWoe commented on #99
This looks good in rc.1

[2019-06-06 21:20] KatieWoe opened #105 "Multitouch restart causes sim to freeze"
**Test device:**
Hopper
**Operating System:**
12.3.1
**Browser:**
safari
**Problem description:**
For https://github.com/phetsims/QA/issues/336
When dragging an object, clicking the orange reset button can cause the sim to freeze.  Happens on devices with touch screens.  This does seem to happen on the published sim.
**Steps to reproduce:**
1. Go to Equality Lab screen
2. Go to either the red or y

[2019-06-07 17:42] jonathanolson commented on #66
I believe this was implemented:

<img width="1074" alt="Screen Shot 2019-06-07 at 11 41 51 AM" src="https://user-images.githubusercontent.com/480878/59122943-48cb9500-8919-11e9-8aeb-63e4504e49dc.png">

@KatieWoe is there anything else to do for this issue?

[2019-06-07 17:50] jonathanolson commented on #73
I believe this was fixed recently. @KatieWoe can you confirm that this does not happen in master?

[2019-06-07 17:57] KatieWoe commented on #66
I don't believe anything else had to be done.  I'll look for any bugs when it comes up for rc.

[2019-06-07 18:01] KatieWoe commented on #73
It does seem fixed in master

[2019-06-19 18:32] jonathanolson commented on #99
Ok sounds good, closing then. Thanks!

[2019-06-19 18:32] #99 closed

[2019-06-19 18:33] jonathanolson commented on #104
I believe this was fixed in master (in https://github.com/phetsims/fractions-common/commit/fd6bb11eca99a98f7ecf4821c19dfcc65c712872), can you verify?

[2019-06-19 19:34] KatieWoe commented on #104
I just checked Fraction Matcher and it still happens there.

[2019-06-20 16:57] jonathanolson commented on #105
Should be patched in master and in the release branch.

@KatieWoe can you confirm this is fixed in master?

[2019-06-20 18:01] KatieWoe commented on #105
Not fixed in master

[2019-06-20 18:58] jonathanolson commented on #104
Patched on master and release branches. https://github.com/phetsims/fraction-matcher/issues/98 seems to have more discussion on exactly what the behavior should be, is it best to keep this issue open also?

[2019-06-20 19:13] KatieWoe commented on #104
It does seem to be solve in master now.  Do you want me to look further into game timing?

[2019-06-20 19:19] jonathanolson commented on #39
Verified after 12 hours that there is no significant memory leak now. Closing.

[2019-06-20 19:19] #39 closed

[2019-06-20 19:44] jonathanolson commented on #105
Confirmed fixed in master in person. I'll look into the other related problem with that issue. Thanks!

[2019-06-20 19:44] #105 closed

[2019-06-20 19:46] jonathanolson commented on #29
I didn't realize this wasn't fully closed. I handled all related issues and REVIEW comments, and completed to implementation documentation under /doc/ for the matcher code.

I believe this should be ready to close, but @Denz1994 would you like to check over the changes made or see if anything is still left?

[2019-07-17 20:32] KatieWoe commented on #104
Not seeing any problems so far in this rc.  Will update if that changes.

[2019-07-17 20:36] KatieWoe commented on #66
Things look ok.  I noticed that the time record disappears if you make a mistake, and will come back if you complete again perfectly with the correct record whether or not you set it that time or its the old record.  I think that is fine.

[2019-07-17 20:50] jonathanolson commented on #66
I believe that was the desired behavior, so I'm going to close the issue. Thanks!

[2019-07-17 20:50] #66 closed

[2019-07-17 21:21] KatieWoe opened #106 "Game screen icon has a tan background"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/368 and https://github.com/phetsims/QA/issues/367
I noticed that, even though the background for the games is white, the icons in the home page of Matcher and in the home page and nav bar of Equality are tan.  This looks particularly odd in Equality.  Very minor

[2019-07-17 21:31] KatieWoe commented on #73
Looks good 1.1.0-rc.2

[2019-07-18 01:52] jonathanolson commented on #73
Thanks! Closing.

[2019-07-18 01:52] #73 closed

[2019-07-18 21:41] KatieWoe opened #107 "Involuntary restart of level"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/367.  Not in published version, and nothing in the console.
When you are in the process of a level, and hit the back arrow in the sim to go back to the menu, the current sim shows the stars you have completed so far.  When you go back to the level you pick up wh

[2019-07-18 22:04] KatieWoe opened #108 "Smile overlaps time when strings are long"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/367.  Not in published version
When you have the time visible and strings are long, the smile when you get an answer right will cover that time
**Steps to reproduce:**
1. String Test is double
2. Set timer to on
3. Enter a level and get an answer right

**Screen

[2019-07-19 20:31] KatieWoe opened #109 "Beginning of the first "ding" sound is cut off"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Multiple, filmed on Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/368 and https://github.com/phetsims/QA/issues/367
Didn't seem to happen when I tested published Build a Fraction, which uses similar sounds.
The first instance of the correct answer ding noise seems to be cut off at the beginning.  Most noticea

[2019-07-24 18:35] amanda-phet commented on #109
I don't notice it at all on chrome or firefox. I couldn't get your video to play but I will try again to hear what you hear. The only thing I hear is that click sound at the end of the ding, which I've brought up before, and can't un-hear for the life of me :)

[2019-07-24 18:37] amanda-phet commented on #109
Got your video to work, and I sort of hear it, but I don't think it's a major issue. (Also noticed you were on windows, so maybe that's why I didn't hear it on my mac). Did you check any other sims? I wonder if it's a fraction matcher issue or a vegas/tambo/vibe sort of issue. Either way, I don't see this as blocking for this sim.

[2019-07-24 18:40] amanda-phet commented on #109
@KatieWoe can you test in another sim in development? I think this new one uses vibe, right?

[2019-07-24 18:51] KatieWoe commented on #109
@amanda-phet I couldn't find a tambo (the new sound system as opposed to vibe) that used similar ding sounds.

[2019-07-24 18:55] amanda-phet commented on #106
@jonathanolson are these done in code (I can't remember)? Could the background be changed?

In Fraction Matcher, the nav bar icons don't have a background at all, but we can't do that in Fractions: Equality.

I'd be fine with making them all have a white background if that's an easy change.

[2019-07-25 07:56] jonathanolson commented on #106
Implemented the tan => white change above (I had copied the colors from the original fraction-matcher version).

Can you check to see if this looks good in master? Additionally, let me know if the fraction-matcher icons should have a white background (I prefer the transparent background that they currently have).

Once this looks good, I can move the patch to the RC branch.

[2019-07-25 07:57] jonathanolson commented on #109
I'm unaware of anything I could do that would affect/control this. @jbphet could we look into this together sometime?

[2019-07-25 16:02] KatieWoe commented on #106
Looks good in master to me.

[2019-07-25 16:16] amanda-phet commented on #106
I agree, I like the transparent background we are using in Fraction Matcher.

The white looks fine to me. It's bright, but matches the screens.

[2019-07-31 22:51] jbphet commented on #109
@jonathanolson - sure, we can check it out.  I tried to take a quick look, but the sim isn't even loading on MS Edge for me at the moment.  I see the following in the console:

![image](https://user-images.githubusercontent.com/3082831/62253191-526df800-b3b2-11e9-95ec-b2e76b974d64.png)

Let me know if you understand why this is happening and how I might be able to test it.

[2019-08-01 16:50] jonathanolson commented on #108
@ariel-phet I can add a more restrictive maxWidth, which would result in:

<img width="200" alt="Screen Shot 2019-08-01 at 10 48 24 AM" src="https://user-images.githubusercontent.com/480878/62311872-ffe01a80-b449-11e9-81ab-b3aa07911bf2.png">

But halving the padding between the text nodes might be better:

<img width="209" alt="Screen Shot 2019-08-01 at 10 49 18 AM" src="https://user-images.github

[2019-08-01 17:16] ariel-phet commented on #108
@jonathanolson agreed with reducing padding between the text nodes, I think that is a nice change anyhow.

[2019-08-15 07:24] jonathanolson commented on #108
Patched in master and RC branches. @KatieWoe can you verify?

[2019-08-15 07:42] jonathanolson commented on #107
This should be fixed in master (and release branches), however I noticed that it will only refresh a fully-completed level in that manner if it had a perfect score. Should we refresh a level (when going to the level-selection screen and back to the level) also when it is complete but without a perfect score?

[2019-08-15 07:58] jonathanolson commented on #106
Moved patch to the release branches.

[2019-08-15 08:15] jonathanolson commented on #109
@jbphet I'm honestly not sure what was happening. I was able to run require.js and built forms of fraction-matcher on both master and the 1.2 branch. All with Edge 44.17763.1.0 on Win10.

Can we collaborate to try to resolve the issue? And if the `super` keyword is an issue, we can try building the sim?

[2019-08-15 15:33] KatieWoe commented on #108
Looks good in Master

[2019-08-15 22:35] jbphet commented on #109
I'm still unable to run the RequireJS version on Edge 42.17134.1.0 on my Win 10 machine, but I can build and run, so I added some debug statements to see if there was anything odd going on.  I wasn't able to come up with any explanation.  When the sound starts playing, the audio context is enabled, the audio buffer has finished decoding, and the gain values of `SoundClip`'s gain node are reporting

[2019-08-19 16:30] jonathanolson commented on #109
@ariel-phet it seems that given the effort involved and the impact, I'd like to check whether additional time would be warranted for this issue? This seems like browsers may just improve their implementation and fix things in the future.

[2019-08-21 20:44] ariel-phet commented on #109
@KatieWoe great attention to detail, but I think probably for this "class" of sound issues they can just be ignored since the sound still plays but is just a bit "off" the first time.

@jonathanolson @jbphet thanks for the investigation, no need to spend more time.

Marking as 'wontfix' and closing

[2019-08-21 20:45] #109 closed

[2019-08-22 05:38] ariel-phet commented on #107
@KatieWoe @jonathanolson the behavior of the published version (1.1.17) seems correct to me in terms of how things refresh.

Whether a perfect score or not, when the last smile is up, if you have not yet pressed "OK" and go back to the Level Selection Screen, and then back into the sim, no refresh occurs.

However, perfect score or not, if you get the completion dialog (having pressed "OK" on the

[2019-08-23 22:02] jonathanolson commented on #107
Patched to the behavior @ariel-phet and I both desired. @KatieWoe can you please confirm in master?

[2019-08-23 22:22] KatieWoe commented on #107
Looks good on master

[2019-11-11 19:55] samreid commented on #43
One minor change after ObservableArray got new assertions, @jonathanolson can you please double check?

[2020-05-21 21:52] samreid commented on #8
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-26 18:36] samreid commented on #8
The TODO is:

[code]

Unassigning until we return focus to this issue.

[2020-09-23 16:21] zepumph opened #111 "Uncaught TypeError: combiner is not a function"
Looks like this is coming from `ShapeGroup`.

[code]

[2020-09-23 19:19] samreid commented on #111
I'll work on this in https://github.com/phetsims/axon/issues/330, closing.

[2020-09-23 19:19] #111 closed

[2021-01-28 17:16] #29 closed

[2021-02-04 16:24] KatieWoe opened #112 "CT item not found in array"
Happening in multiple fractions sims:
[code]

[2022-03-18 15:57] KatieWoe commented on #112
[code]

[2022-03-21 15:40] KatieWoe commented on #112
May be connected:
[code]

[2022-05-17 00:14] marlitas opened #113 "branch: implementBeaker"
Branch created to implement new BeakerNode from SceneryPhet as part of: https://github.com/phetsims/scenery-phet/issues/740

[2022-06-10 20:21] marlitas commented on #113
After manual and fuzz testing implementBeaker has been merged onto master. Assigning to responsible dev: @jonathanolson in case he wants to conduct a deeper review. Feel free to close if all is well.

[2022-06-13 17:00] marlitas opened #114 "New Common Code Beaker Implementation"
From https://github.com/phetsims/scenery-phet/issues/740:

A new common code beaker was created. This beaker is used by Mean: Share and Balance and implemented into Fractions Common as well. Asking for review from responsible dev: @jonathanolson.

Code tested manually and through fuzz.

Please ensure all usages of beaker in sim are working as expected.

[2022-06-13 17:00] #113 closed

[2022-06-23 23:34] pixelzoom opened #115 "CT: Uncaught Error: Not a RangedProperty"
Related to  https://github.com/phetsims/scenery-phet/issues/740 and https://github.com/phetsims/fractions-common/issues/114...

CT is reporting this failure related to BeakerNode, for all sims in the fractions family

[code]

The problem was introduced in 34fe4ce1, in FractionsCommonBeakerNode.js:

[code]

Not all NumberProperty instances are "ranged".  In this case, waterLevelProperty is not a Ra

[2022-06-23 23:39] pixelzoom commented on #115
I need to move forward with some cross-cutting changes, and this was getting in the way of local aqua testing.  So in the above commit, I added `range: new Range( 0, 1 )` to `waterLevelProperty`.  Fuzz testing didn't reveal any problems.  But please confirm with @jonathanolson (reponsible dev) that this is an appropriate range.

[2022-06-23 23:40] pixelzoom commented on #115
I need to move forward with some cross-cutting changes, and this was getting in the way of local aqua testing.  So in the above commit, I added `range: new Range( 0, 1 )` to `waterLevelProperty`.  Fuzz testing didn't reveal any problems.  But please confirm with @jonathanolson (reponsible dev) that this is an appropriate range.

[2022-06-24 16:54] marlitas commented on #114
@jonathanolson: In addition to ensuring functionality, please check that adding a range(0, 1) to the wateLevelProperty in FractionsCommonBeakerNode.js is appropriate for all usages. Manual and fuzz testing did not reveal any mishaps.

Range issue originally reported: https://github.com/phetsims/fractions-common/issues/115

[2022-06-24 17:04] marlitas commented on #115
Transferred the range question as a part of https://github.com/phetsims/fractions-common/issues/114, closing to consolidate issue.

[2022-06-24 17:04] #115 closed

[2022-07-01 23:41] Luisav1 opened #116 "Generalize the undoArrowShape"
@chrisklus and I wanted a similar button to ReturnButton.js in Build a Nucleus to solve this issue https://github.com/phetsims/build-a-nucleus/issues/30. However the arrow shape is created inline. We think the shape can be generalized so we could use it to make a new button. But we're not sure where to put it or if the button should be generalized instead.

@jonathanolson could you make a recommen

[2022-07-05 16:14] KatieWoe opened #117 "CT reentry detected"
Also in Equality:
[code]

[2022-07-05 20:07] jonathanolson commented on #116
Generalizing the shape sounds good, but also generalizing the button (if it will be used in multiple places) could be good also (some a11y/phet-io benefits potentially?)

[2022-07-13 23:55] Luisav1 commented on #116
Thanks @jonathanolson we went ahead and did those changes. @chrisklus and I moved the ReturnButton to scenery-phet, converted it to typescript, and tested it out in the sims it's used. Ready for review by @jonathanolson.

[2022-10-06 16:28] pixelzoom opened #118 "Replace sim-specific code with LevelSelectionButtonGroup"
Related to https://github.com/phetsims/vegas/issues/108 ...

LevelSelectionButtonGroup is a new vegas UI component for creating the level-selection buttons for games.  It replaces boilerplate code in sims, and provides a consistent PhET-iO tandem structure.  Please convert this sim to use LevelSelectionButtonGroup.